mixin category-card(imgUrl)
  // category-card
  .category-card
    a(href="#").category-card__img 
      img(src= imgUrl , alt="")
    .category-card__content 
      a(href="#") Компрессоры для септика
  // /category-card