mixin category-card2(imgUrl, title)
  // category-card2
  .category-card2
    a(href="#").category-card2__img 
      img(src= imgUrl , alt="")
    .category-card2__content 
      a(href="#")= title
  // /category-card2