// cities
.cities
  .container 
    .cities__img 
      img(src="img/cities-bg.jpg", alt="")
    .cities__content 
      .title Производим доставку и установку септиков по городам
      ul.cities__list 
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
        li Тюмень
        li Сахалин
        li Казань
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
        li Тюмень
        li Сахалин
        li Казань
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
        li Тюмень
        li Сахалин
        li Казань
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
        li Тюмень
        li Сахалин
        li Казань
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
        li Тюмень
        li Сахалин
        li Казань
        li Москва
        li Санкт-Петербург
        li Киров
        li Караганда
        li Астана
        li Талдыкорган
        li Алматы
// /cities