// portfolio-slider
.portfolio-slider
  .container 
    .title Наши работы
    .portfolio-slider__slider 
      #sliderPortfolioSlider 
        .swiper-wrapper
          .swiper-slide
            a(href="img/portfolio/img1.jpg" data-fancybox).portfolio-slider__img 
              img(src="img/portfolio/img1.jpg", alt="")
          .swiper-slide
            a(href="img/portfolio/img2.jpg" data-fancybox).portfolio-slider__img 
              img(src="img/portfolio/img2.jpg", alt="")
          .swiper-slide
            a(href="img/portfolio/img3.jpg" data-fancybox).portfolio-slider__img 
              img(src="img/portfolio/img3.jpg", alt="")
          .swiper-slide
            a(href="img/portfolio/img4.jpg" data-fancybox).portfolio-slider__img 
              img(src="img/portfolio/img4.jpg", alt="")
          .swiper-slide
            a(href="img/portfolio/img5.jpg" data-fancybox).portfolio-slider__img 
              img(src="img/portfolio/img5.jpg", alt="")
      .portfolio-slider__pagination.swiper-pagination
      .portfolio-slider__slider-arrow.portfolio-slider__slider-arrow--prev.swiper-button-prev
      .portfolio-slider__slider-arrow.portfolio-slider__slider-arrow--next.swiper-button-next
    a(href="#").portfolio-slider__btn 
      .btn.btn--big.btn--blue-border Посмотреть все работы
// /portfolio-slider