mixin product-card(imgUrl, id)
  // product-card
  .product-card
    .product-card__img
      img(src= imgUrl, alt="")
      .product-card__stickers 
        .product-card__sticker.product-card__sticker--yellow Распродажа 
        .product-card__sticker.product-card__sticker--red Хит
        .product-card__sticker.product-card__sticker--blue Новинка
      form(action="#").product-card__operations 
        .product-card__operations-icon.product-card__operations-icon--compare
          label 
            input(type="checkbox")
            span 
        .product-card__operations-icon.product-card__operations-icon--favorite
          label 
            input(type="checkbox")
            span 
      .product-card__overlay 
        svg(class="icon-eye")
          use(xlink:href="img/sprite.svg#eye")
        span Быстрый просмотр
      .product-card__open-popup(data-bs-toggle="modal" data-bs-target= '#' + id)
    .product-card__content 
      .product-card__description 
        .product-card__head 
          .product-card__art Артикул 234 454
          .product-card__stars 
            .product-card__stars-icon.product-card__stars-icon--fill 
            .product-card__stars-icon.product-card__stars-icon--fill 
            .product-card__stars-icon.product-card__stars-icon--fill 
            .product-card__stars-icon.product-card__stars-icon--fill 
            .product-card__stars-icon
        a(href="#").product-card__title Септик Юнилос
        ul.product-card__list 
          li 
            span Количество человек 
            .product-card__num 2
          li 
            span Объем переработки (л/сутки)
            .product-card__num 400
          li 
            span Объем септика, м3
            .product-card__num 1.2
      .product-card__prices 
        .row
          .col-lg-6 
            .product-card__price-old 542 290&#160;₽
            .product-card__price 420 290&#160;₽
            .product-card__price-text стоимость септика
          .col-lg-6 
            .product-card__price-old 142 290 ₽
            .product-card__price 12 290 ₽
            .product-card__price-text монтаж под ключ
      .product-card__buttons 
        a(href="#").btn.btn--small.btn--blue 
          .btn__inner Заказать с установкой
        a(href="#").product-card__buy Купить
  // /product-card

  // product-popup
  .modal.fade(id= id)
    .modal-dialog.modal-dialog--full
      .modal-content
        .modal-close(data-bs-dismiss="modal")
        .product-popup

          .title.d-block.d-xxl-none Септик Юнилос
          .product-popup__art.d-block.d-xxl-none Артикул 234 454

          .product-popup__slider 
            .product-popup__stickers 
              .product-card__sticker.product-card__sticker--yellow Распродажа 
              .product-card__sticker.product-card__sticker--red Хит
              .product-card__sticker.product-card__sticker--blue Новинка
            .sliderProductPopup 
              .swiper-wrapper 
                .swiper-slide 
                  .product-popup__img 
                    img(src="img/products/img1.jpg", alt="")
                .swiper-slide 
                  .product-popup__img 
                    img(src="img/products/img2.jpg", alt="")
                .swiper-slide 
                  .product-popup__img 
                    img(src="img/products/img3.jpg", alt="")
                .swiper-slide 
                  .product-popup__img 
                    img(src="img/products/img4.jpg", alt="")
                .swiper-slide 
                  .product-popup__img 
                    img(src="img/products/img5.jpg", alt="")
            .thumbProductPopup 
              .swiper-wrapper 
                .swiper-slide 
                  .product-popup__thumb 
                    img(src="img/products/img1.jpg", alt="")
                .swiper-slide 
                  .product-popup__thumb 
                    img(src="img/products/img2.jpg", alt="")
                .swiper-slide 
                  .product-popup__thumb 
                    img(src="img/products/img3.jpg", alt="")
                .swiper-slide 
                  .product-popup__thumb 
                    img(src="img/products/img4.jpg", alt="")
                .swiper-slide 
                  .product-popup__thumb 
                    img(src="img/products/img5.jpg", alt="")

          .product-popup__content 

            .title.d-none.d-xxl-block Септик Юнилос

            .product-popup__row 

              .product-popup__info 
                .product-popup__art.d-none.d-xxl-block Артикул 234 454
                .product-popup__title Модификации
                .product-popup__version 
                  .product-popup__slider-arrow.product-popup__slider-arrow--prev.swiper-button-prev
                  .sliderVersion
                    .swiper-wrapper 
                      .swiper-slide 
                        .product-popup__version-item Евролос ПРО 30
                      .swiper-slide 
                        .product-popup__version-item Евролос ПРО 20
                      .swiper-slide 
                        .product-popup__version-item Евролос ПРО
                      .swiper-slide 
                        .product-popup__version-item Евролос ПРО 10
                      .swiper-slide 
                        .product-popup__version-item Евролос ПРО 40
                  .product-popup__slider-arrow.product-popup__slider-arrow--next.swiper-button-next
                table.product-popup__table  
                  tr  
                    td Количество пользователей 
                    td 
                      b до 75 человек
                  tr 
                    td Производительность
                    td 
                      b до 12 м³ в сутки
                  tr 
                    td Тип очистного устройства
                    td 
                      b аэрационная усановка
                  tr 
                    td Способ очищения воды
                    td 
                        b принудительный
                .product-popup__items.d-none.d-md-block
                  .product-popup__items-row 
                    .product-popup__item 
                      span 
                        svg(class="icon-printer")
                          use(xlink:href="img/sprite.svg#printer")
                      | Распечатать
                    .product-popup__item.js-drop-social
                      span 
                        svg(class="icon-links")
                          use(xlink:href="img/sprite.svg#links")
                      | Поделится
                  .product-popup__drop
                    .product-popup__drop-title Поделиться товаром
                    .product-popup__drop-subtitle Ссылка для вставки
                    .product-popup__drop-link 
                      p https://septic-master.pro/catalog/septik-malahit/malahit-air/
                      a(href="#") 
                        svg(class="icon-copy")
                          use(xlink:href="img/sprite.svg#copy")
                    .product-popup__drop-subtitle Поделитесь в соц.сетях:
                    .product-popup__drop-social 
                      .product-popup__drop-social-row 
                        a(href="#").product-popup__drop-social-item 
                          img(src="img/social-icons/whatsapp.svg", alt="")
                        a(href="#").product-popup__drop-social-item 
                          img(src="img/social-icons/viber.svg", alt="")
                        a(href="#").product-popup__drop-social-item 
                          img(src="img/social-icons/vk.svg", alt="")
                        a(href="#").product-popup__drop-social-item 
                          img(src="img/social-icons/telegram.svg", alt="")
                    .product-popup__drop-close
                .product-popup__more.d-none.d-md-block
                  a(href="#").btn.btn--big.btn--blue-border Детальнее в карточке товара
                  
              .product-popup__block 
                .product-popup__block-top
                  .product-popup__stars 
                    .product-popup__stars-icon.product-popup__stars-icon--fill 
                    .product-popup__stars-icon.product-popup__stars-icon--fill 
                    .product-popup__stars-icon.product-popup__stars-icon--fill 
                    .product-popup__stars-icon.product-popup__stars-icon--fill 
                    .product-popup__stars-icon
                  .product-popup__prices 
                    .product-popup__price 420 290 ₽
                    .product-popup__price-old 542 290 ₽
                  .product-popup__install 
                    .product-popup__install-price от 80 290 ₽
                    .product-popup__install-item 
                      svg(class="icon-info")
                        use(xlink:href="img/sprite.svg#info")
                      | монтаж под ключ
                  .product-popup__operations 
                    .product-popup__operations-item.product-popup__operations-item--compare 
                      label
                        input(type="checkbox")
                        span 
                        | К сравнению
                    .product-popup__operations-item.product-popup__operations-item--favorite
                      label
                        input(type="checkbox")
                        span 
                        | В избранное
                  .product-popup__buttons 
                    button.btn.btn--big.btn--blue 
                      .btn__inner Заказать с установкой
                    a(href="#").product-popup__link Купить
                  .product-popup__delivery 
                    svg(class="icon-pack")
                      use(xlink:href="img/sprite.svg#pack")
                    | Доставим и установим <br>ориентировочно 2 мая
                ul.product-popup__block-bottom 
                  li 
                    svg(class="icon-percent")
                      use(xlink:href="img/sprite.svg#percent")
                    | Кредит от 
                    b 33 291 Р/мес
                  li 
                    svg(class="icon-percent")
                      use(xlink:href="img/sprite.svg#percent")
                    | Рассрочка от 
                    b 17 131 Р/мес
                  li 
                    a(href="#") 
                      svg(class="icon-p")
                        use(xlink:href="img/sprite.svg#p")
                      | Нашли дешевле?
              .product-popup__more.d-block.d-md-none
                a(href="#").btn.btn--big.btn--blue-border Детальнее в карточке товара
              
  // /product-popup