// reviews2
.reviews2
  .container 
    .title Отзывы о нашей работе
    .reviews2__slider 
      #sliderReviews2 
        .swiper-wrapper 
          .swiper-slide 
            .reviews2__card
              .reviews2__img 
                img(src="img/portfolio/img4.jpg", alt="")
              .reviews2__content 
                .reviews2__info 
                  .reviews2__photo 
                    img(src="img/client.jpg", alt="")
                  .reviews2__info-content 
                    .reviews2__name Отзыв от Алексея Медика
                    .reviews2__items 
                      .reviews2__items-row 
                        .reviews2__item 
                          svg(class="icon-wallet")
                            use(xlink:href="img/sprite.svg#wallet")
                          | Стоимость: 7 000 рублей
                        .reviews2__item 
                          svg(class="icon-calendar")
                            use(xlink:href="img/sprite.svg#calendar")
                          | Сроки: 1 день
                .reviews2__text 
                  p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                  p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и...
                  .reviews2__more Показать полностью
          .swiper-slide 
            .reviews2__card
              .reviews2__img 
                .video.js-dzen#vdI-RjzSyAng
                  img(src="img/portfolio/img1.jpg", alt="").video__preview
              .reviews2__content 
                .reviews2__info 
                  .reviews2__photo 
                    img(src="img/client.jpg", alt="")
                  .reviews2__info-content 
                    .reviews2__name Отзыв от Алексея Медика
                    .reviews2__items 
                      .reviews2__items-row 
                        .reviews2__item 
                          svg(class="icon-wallet")
                            use(xlink:href="img/sprite.svg#wallet")
                          | Стоимость: 7 000 рублей
                        .reviews2__item 
                          svg(class="icon-calendar")
                            use(xlink:href="img/sprite.svg#calendar")
                          | Сроки: 1 день
                .reviews2__text 
                  p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
          .swiper-slide 
            .reviews2__card
              .reviews2__img 
                img(src="img/portfolio/img1.jpg", alt="")
              .reviews2__content 
                .reviews2__info 
                  .reviews2__photo 
                    img(src="img/client.jpg", alt="")
                  .reviews2__info-content 
                    .reviews2__name Отзыв от Алексея Медика
                    .reviews2__items 
                      .reviews2__items-row 
                        .reviews2__item 
                          svg(class="icon-wallet")
                            use(xlink:href="img/sprite.svg#wallet")
                          | Стоимость: 7 000 рублей
                        .reviews2__item 
                          svg(class="icon-calendar")
                            use(xlink:href="img/sprite.svg#calendar")
                          | Сроки: 1 день
                .reviews2__text 
                  p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 

      .reviews2__pagination.swiper-pagination
      .reviews2__slider-arrow.reviews2__slider-arrow--prev.swiper-button-prev
      .reviews2__slider-arrow.reviews2__slider-arrow--next.swiper-button-next
// /reviews2