// reviews
.reviews.reviews--noimage
  .container 
    .title Отзывы о нашей работе
    .reviews__slider 
      #sliderReviews
        .swiper-wrapper 
          .swiper-slide 
            .reviews__item 
              .reviews__content 
                .reviews__title Консультация
                .reviews__info-items  
                  .reviews__info-items-row 
                    .reviews__info-item 
                      svg(class="icon-mark")
                        use(xlink:href="img/sprite.svg#mark")
                      | Дмитров
                    .reviews__info-item 
                      svg(class="icon-user")
                        use(xlink:href="img/sprite.svg#user")
                      | Митрахович Максим
                  .reviews__info-items-row 
                    .reviews__info-item 
                      svg(class="icon-user")
                        use(xlink:href="img/sprite.svg#user")
                      | Услуга: отвод сточных вод
                .reviews__text 
                  p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                  p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и...
          .swiper-slide 
            .reviews__item 
              .reviews__content 
                .reviews__title Консультация
                .reviews__info-items 
                  .reviews__info-items-row 
                    .reviews__info-item 
                      svg(class="icon-mark")
                        use(xlink:href="img/sprite.svg#mark")
                      | Дмитров
                    .reviews__info-item 
                      svg(class="icon-user")
                        use(xlink:href="img/sprite.svg#user")
                      | Митрахович Максим
                  .reviews__info-items-row 
                    .reviews__info-item 
                      svg(class="icon-user")
                        use(xlink:href="img/sprite.svg#user")
                      | Услуга: отвод сточных вод
                .reviews__text 
                  p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
      .reviews__slider-arrow.reviews__slider-arrow--prev.swiper-button-prev
      .reviews__slider-arrow.reviews__slider-arrow--next.swiper-button-next
      .reviews__pagination.swiper-pagination
// /reviews