// servicing
.servicing
  .container 
    .title SEO Текст описание группы септиков, свойств и ТП
    .servicing__text 
      p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
      p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
      p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
      p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
    .servicing__cards 
      .row 
        .col-lg-6 
          .servicing__card 
            .servicing__img 
              picture
                source(media="(max-width: 768px)", srcset="img/servicing-1-mobile.jpg")
                img(src="img/servicing-1.jpg", alt="")
            .servicing__content 
              .servicing__title Обслуживание <br>септиков Астра
              .servicing__bottom 
                .servicing__price 4 500 руб
                .servicing__btn 
                  a(href="#").btn.btn--big.btn--white-border Узнать больше
        .col-lg-6 
          .servicing__card 
            .servicing__img 
              picture
                source(media="(max-width: 768px)", srcset="img/servicing-2-mobile.jpg")
                img(src="img/servicing-2.jpg", alt="")
            .servicing__content 
              .servicing__title Обслуживание <br>септиков Топас
              .servicing__bottom 
                .servicing__price 4 500 руб
                .servicing__btn 
                  a(href="#").btn.btn--big.btn--white-border Узнать больше
// /servicing