mixin slider-category-cards(title)
  // slider-category-cards
  include category-card.pug
  .slider-category-cards
    .container 
      .title= title
      
      .slider-category-cards__slider 
        .sliderCategoryCards
          .swiper-wrapper 
            .swiper-slide 
                +category-card('img/products/img1.jpg')
            .swiper-slide 
                +category-card('img/products/img2.jpg')
            .swiper-slide 
                +category-card('img/products/img3.jpg')
            .swiper-slide 
                +category-card('img/products/img4.jpg')
            .swiper-slide 
              +category-card('img/products/img5.jpg')
            .swiper-slide 
              +category-card('img/products/img2.jpg')
        .slider-category-cards__slider-arrow.slider-category-cards__slider-arrow--prev.swiper-button-prev
        .slider-category-cards__slider-arrow.slider-category-cards__slider-arrow--next.swiper-button-next
        .slider-category-cards__pagination.swiper-pagination
  // /slider-category-cards