// steps2
.steps2
  .container 
    .title Как мы работаем
    .steps2__items 
      .row
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 1
            .steps2__text Ваша заявка онлайн или по телефону в Москве
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 2
            .steps2__text Обеспечиваем выезд замерщика на участок
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 3
            .steps2__text Точный расчет рабочей сметы и согласование договора
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 4
            .steps2__text Доставка материалов
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 5
            .steps2__text Монтаж станции, приемка работы и оплата по договору
        .col-xl-4.col-md-6 
          .steps2__item 
            .steps2__num 6
            .steps2__text Гарантийные обязательства 2 года
// /steps2