// header
header#headerSticky.header 
  .header__mobile.d-block.d-md-none
    .container 
      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")
      .header__menu-btn
        .hamburger.hamburger--squeeze.js-drop-menu(data-drop="menuMobile")
          .hamburger-box
            .hamburger-inner
  .header__container#menuMobile
    .header__top
      .container
        .header__location 
          a(href="#citiesPopup").js-open-popup.header__location-head 
            svg(class="icon-mark")
              use(xlink:href="img/sprite.svg#mark")
            | Москва
          .header__location-drop.open#locationDrop
            .header__location-title 
              | Ваш город - 
              span Москва?
            .header__location-row 
              .header__location-link.js-drop-close(data-drop="locationDrop") Да, верно
              a(href="#citiesPopup").js-open-popup.header__location-link.js-drop-close(data-drop="locationDrop") Нет, выбрать другой
            .header__location-close.js-drop-close(data-drop="locationDrop")
        a(href="#").header__email 
          svg(class="icon-email")
            use(xlink:href="img/sprite.svg#email")
          | septic-master.pro@yandex.ru
        .header__worktime 
          svg(class="icon-clock")
            use(xlink:href="img/sprite.svg#clock")
          | пн-вс: 7:00 - 20:00  
    .header__middle
      .container
        a(href="#").header__logo.d-none.d-md-block
          img(src="img/logo.svg", alt="")
        .header__sub.d-block.d-md-none.d-xxl-block Установка автономной канализации под ключ в Москве
        form(action="#").header__search 
          input(type="text" placeholder="Поиск по сайту") 
          button(type="submit") 
            svg(class="icon-search")
              use(xlink:href="img/sprite.svg#search")
        .header__social
          .header__social-row 
            a(href="#") 
              svg(class="icon-whatsapp")
                use(xlink:href="img/sprite.svg#whatsapp")
            a(href="#") 
              svg(class="icon-viber")
                use(xlink:href="img/sprite.svg#viber")
            a(href="#") 
              svg(class="icon-telegram")
                use(xlink:href="img/sprite.svg#telegram")
        .header__tels.d-block.d-md-none.d-xl-block
          a(href="tel:+74994442196") +7 (499) 444-21-96
          a(href="tel:+79773008989") +7 (977) 300-89-89
        .header__btn 
          .btn.btn--big.btn--blue 
            .btn__inner Заказать звонок
    .header__bottom 
      .container
        .header__catalog-btn#catalogBtn
          .btn.btn--big.btn--blue 
            .btn__inner 
              .hamburger.hamburger--squeeze
                .hamburger-box
                  .hamburger-inner
              span Каталог товаров
        a(href="#").header__logo-stick 
          img(src="img/logo.svg", alt="")
        .header__menu-btn.d-none.d-md-block.d-lg-none
          .hamburger.hamburger--squeeze.js-drop-menu(data-drop="menu")
            .hamburger-box
              .hamburger-inner
        nav.header__menu#menu
          .header__menu-close.js-drop-close(data-drop="menu").d-none.d-md-block.d-lg-none
          .header__menu-close.js-drop-close(data-drop="menuMobile").d-block.d-md-none
          ul.header__menu-list 
            li.header__menu-item 
              a(href="#popupCalc").header__menu-link.js-open-popup.js-drop-close(data-drop="menuMobile") Рассчитать стоимость
            li.header__menu-item.d-block.d-lg-none
              a(href="#").header__menu-link.js-menu-toggle Виды септиков
                svg(class="icon-arrow")
                  use(xlink:href="img/sprite.svg#arrow-light")
              ul.header__menu-sublist 
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Малахит
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Топас топол эко
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Топас-с топол эко
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Топ Аэро топол эко
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Астра Юнилос
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Евролос Био Евролос
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Евролос Грунт Евролос
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Тверь Classic
            li.header__menu-item 
              a(href="#").header__menu-link.js-menu-toggle Производители
                svg(class="icon-arrow")
                  use(xlink:href="img/sprite.svg#arrow-light")
              ul.header__menu-sublist 
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Установка
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Сервисное обслуживание
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Ремонт септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наращивание септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Пайка септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Консервация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Модернизация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Отвод воды
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Запасные части
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наши объекты
            li.header__menu-item 
              a(href="#").header__menu-link.js-menu-toggle О компании
                svg(class="icon-arrow")
                  use(xlink:href="img/sprite.svg#arrow-light")
              ul.header__menu-sublist 
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Установка
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Сервисное обслуживание
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Ремонт септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наращивание септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Пайка септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Консервация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Модернизация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Отвод воды
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Запасные части
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наши объекты
            li.header__menu-item 
              a(href="#").header__menu-link.js-menu-toggle Услуги
                svg(class="icon-arrow")
                  use(xlink:href="img/sprite.svg#arrow-light")
              ul.header__menu-sublist 
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Установка
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Сервисное обслуживание
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Ремонт септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наращивание септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Пайка септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Консервация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Модернизация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Отвод воды
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Запасные части
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наши объекты
            li.header__menu-item 
              a(href="#").header__menu-link.js-menu-toggle Покупателям
                svg(class="icon-arrow")
                  use(xlink:href="img/sprite.svg#arrow-light")
              ul.header__menu-sublist 
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Установка
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Сервисное обслуживание
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Ремонт септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наращивание септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Пайка септиков
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Консервация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Модернизация
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Отвод воды
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Запасные части
                li.header__menu-subitem 
                  a.header__menu-sublink(href="#") Наши объекты
        .header__btn-stick 
          .btn.btn--big.btn--blue 
            .btn__inner Заказать звонок
        .header__operation
          .header__operation-item 
            svg(class="icon-chart")
              use(xlink:href="img/sprite.svg#chart")
            span Сравнение
          .header__operation-item 
            svg(class="icon-heart")
              use(xlink:href="img/sprite.svg#heart")
            span Избранное
        .header__subscribe
          .header__subscribe-subtitle Подписаться на рассылку
          form(action="#") 
            .header__subscribe-input 
              .input 
                input(type="text" placeholder="Введите e-mail")
            .header__subscribe-btn 
              button(type="submit").btn.btn--big.btn--blue 
                .btn__inner Подписаться
            .footer__address 
              span Адрес доставки корреспондеции
              | Москва, ул. Дорогобужская, 14
        .header__info 
          .header__info-text 
            p Вы принимаете условия по политики в отношении обработки персональных данных и пользовательского соглашения каждый раз когда оставляете свои данные в любой форма обратной связи на сайте Септик-мастер ПРО
            p 2005-2023 - Септик Мастер ПРО
          .header__info-payment 
            .header__info-payment-row 
              .header__info-payment-item 
                img(src="img/payment/img1.jpg", alt="")
              .header__info-payment-item 
                img(src="img/payment/img2_v2.svg", alt="")
              .header__info-payment-item 
                img(src="img/payment/img3.svg", alt="")
              .header__info-payment-item 
                img(src="img/payment/img4.svg", alt="")
              .header__info-payment-item 
                img(src="img/payment/img5_v2.svg", alt="")
    .header__catalog.container#catalogMenu
      .header__catalog-container 
        .row 
          .col-xl-3.col-4
            ul.header__catalog-menu 
              li 
                a(href="#") По производителю
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По назначению
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По принципу работы
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По количеству человек
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По материалу
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По способу отвода
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") По объему переработки
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
              li 
                a(href="#") Распродажа
                  svg(class="icon-arrow-light")
                    use(xlink:href="img/sprite.svg#arrow-light")
          .col-xl-9.col-8
            .header__catalog-lists 
              .row 
                .col-xl-4.col-6
                  ul.header__catalog-list 
                    li 
                      a(href="#") Для частного дома
                    li 
                      a(href="#") Для бани
                    li 
                      a(href="#") Для туалета
                    li 
                      a(href="#") Для постоянного проживания
                    li 
                      a(href="#") Для загородного дома
                    li 
                      a(href="#") Для промышленных предприятий
                    li 
                      a(href="#") Для кухни
                    li 
                      a(href="#") Для дачи
                    li 
                      a(href="#") Для коттеджа
                .col-xl-4.col-6
                  ul.header__catalog-list 
                    li 
                      a(href="#") Под высокие грунтовые воды
                    li 
                      a(href="#") Для непостоянного проживания
                    li 
                      a(href="#") Для сезонного проживания
                    li 
                      a(href="#") Для гостиниц
                    li 
                      a(href="#") Для поселка
//	/header

// popup-calc
#popupCalc.popup.popup--full.mfp-hide
  .popup-calc 
    .title Рассчитать стоимость
    form(action="#").calc__container 
      .calc__top 
        .row.gy-3
        
          .col-xxl-3.col-md-6.order-xxl-1.order-md-1
            .calc__title Основные параметры
            .calc__row 
              .calc__text Количество жильцов
              .input
                input(type="number") 
            .calc__row 
              .calc__text Тип грунта
              .select 
                select
                  option(value="#") Песок
                  option(value="#") Глина
            .calc__row 
              .calc__text Глубина залегания канал. трубы, до (см)
              .input
                input(type="number") 
            .calc__row 
              .calc__text Выброс очищенных вод из септика
              .select 
                select
                  option(value="#") Самотечная
                  option(value="#") Напорная

          .col-xxl-6.order-xxl-2.order-md-3
            .calc__group 
              .calc__title Сантехнические работы
              .row
                .col-md-6
                  .calc__row 
                    .calc__text Ванная (220л)
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Раковина (30 л.)
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Джакузи (400 л.)
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Биде (5 л.):
                    .input
                      input(type="number") 
                .col-md-6
                  .calc__row 
                    .calc__text Стиральная машина (50 л.):
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Посудомоечная машина (20 л.):
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Унитаз (10 л.):
                    .input
                      input(type="number") 
                  .calc__row 
                    .calc__text Душ (60 л.):
                    .input
                      input(type="number") 
            
          .col-xxl-3.col-md-6.order-xxl-3.order-md-2
            .calc__title.calc__title--mb20 Дополнительно
            .calc__checkbox-row 
              .checkbox 
                label
                  input(type="checkbox")
                  span 
                  .checkbox__text Высокий уровень грунтовых вод
            .calc__checkbox-row 
              .checkbox 
                label
                  input(type="checkbox")
                  span 
                  .checkbox__text Сезонное проживание
            .calc__checkbox-row 
              .checkbox 
                label
                  input(type="checkbox")
                  span 
                  .checkbox__text Премиум
            .calc__checkbox-row 
              .checkbox 
                label
                  input(type="checkbox")
                  span 
                  .checkbox__text Ультрафиолетовая очистка

      .calc__bottom 
        .row.gy-1.gx-1.gx-lg-3
          .col-lg-3.col-md-6
            .input.js-input-tel 
              input(type="text" placeholder="Ваш телефон")
          .col-lg-6.col-md-6
            .textarea 
              textarea(placeholder="Дополнительные сведения")
          .col-lg-3.col-md-12
            button(type="submit").btn.btn--big.btn--blue 
              .btn__inner Подобрать
// /popup-calc

// popup-offer
.popup.mfp-hide#offerPopup
  .popup-offer
    .title Получите персональное предложение
    .popup-offer__text Скидки на работы и комплексный подход до 20%
    .popup-offer__inputs 
      .row 
        .col-sm-6 
          .input 
            input(type="text" placeholder="Введите имя")
        .col-sm-6
          .input.js-input-tel 
            input(type="text" placeholder="Введите номер")
    .popup-offer__btn 
      .btn.btn--big.btn--blue 
        .btn__inner Получить скидку
// /popup-offer

// popup-cities
.popup.popup--w810.mfp-hide#citiesPopup
  .popup-cities
    .title Выберите город
    form(action="#").popup-cities__search 
      input(type="text" placeholder="Ваш город")
      button(type="submit")
        svg(class="icon-search")
          use(xlink:href="img/sprite.svg#search")
    ul.popup-cities__list 
      li 
        a(href="#") Москва
      li 
        a(href="#") Санкт-Петербург
      li 
        a(href="#") Екатеринбург
      li 
        a(href="#") Воронеж
      li 
        a(href="#") Казань
      li 
        a(href="#") Краснодар
      li 
        a(href="#") Нижний Новгород
      li 
        a(href="#") Новосибирск
      li 
        a(href="#") Омск
      li 
        a(href="#") Пермь
      li 
        a(href="#") Ростов-на-Дону
      li 
        a(href="#") Самара
      li 
        a(href="#") Саратов
      li 
        a(href="#") Уфа
      li 
        a(href="#") Челябинск
// /popup-cities