extends core/base.pug

block title 
  title Одна статья

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              a(href="#") Статьи
            li 
              span Какой вид септика лучше выбрать и почему? Разбираемся детально во всех ньюансах
      // /breadcrumbs

      // article
      .article
        .container 
          .title Какой вид септика лучше выбрать и почему? <br>Разбираемся детально во всех ньюансах и деталях

          .article__row 

            .article__main 

              .article__img 
                img(src="img/article.jpg", alt="")

              .text-style__block 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.

              .article__images 
                .row.gy-1.gy-md-3
                  .col-md-4 
                    .article__images-item 
                      img(src="img/articles/img3.jpg", alt="")
                  .col-md-4 
                    .article__images-item 
                      img(src="img/articles/img2.jpg", alt="")
                  .col-md-4 
                    .article__images-item 
                      img(src="img/articles/img1.jpg", alt="")

              .text-style__block 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.

              .text-style__block 
                h2 Что по итогу?
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
                blockquote «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. 
              .text-style__block 
                h2 Вместо заключения
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.

              .article__video 
                // video
                .video
                  .video__play 
                  <iframe src="https://dzen.ru/embed/vdI-RjzSyAng?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen></iframe>
                // /video
              
              .text-style__block 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
                p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.

              .article__bottom 
                .article__date 12 марта 2023
                .article__social 
                  span Поделится в соц.сетях:
                  a(href="#") 
                    img(src="img/social-icons/whatsapp.svg", alt="")
                  a(href="#") 
                    img(src="img/social-icons/viber.svg", alt="")
                  a(href="#") 
                    img(src="img/social-icons/vk.svg", alt="")
                  a(href="#") 
                    img(src="img/social-icons/telegram.svg", alt="")

            .article__sidebar 

              .article__title Другие статьи по теме

              .article__articles 
                .row
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img1.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img2.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img3.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img1.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img2.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
                  .col-xl-12.col-lg-4.col-sm-6 
                    .articles-slider__item 
                      a(href="#").articles-slider__img 
                        img(src="img/articles/img3.jpg", alt="")
                      .articles-slider__content 
                        .articles-slider__date 05 апреля 2023
                        a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
      // /article

    include core/footer.pug
