extends core/base.pug

block title 
  title Все статьи

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Статьи
      // /breadcrumbs

      // articles
      .articles
        .container 
          .title Статьи
          .row.gy-3
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img1.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img2.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img3.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
            .col-xl-3.col-lg-4.col-sm-6 
              .articles-slider__item 
                a(href="#").articles-slider__img 
                  img(src="img/articles/img4.jpg", alt="")
                .articles-slider__content 
                  .articles-slider__date 05 апреля 2023
                  a(href="#").articles-slider__text Здесь будет заголовок статьи который может быть разной длинны и высоты
          
          .articles__more 
            .btn.btn--big.btn--blue-border Показать еще

          .articles__pagination
            // pagination
            .pagination
              ul 
                li 
                  a(href="#").pagination__prev.disabled
                    svg(class="icon-arrow-long")
                      use(xlink:href="img/sprite.svg#arrow-long")
                li 
                  a(href="#").active 1
                li 
                  a(href="#") 2
                li 
                  a(href="#") 3
                li 
                  a(href="#") 4
                li 
                  span ...
                li 
                  a(href="#") 12
                li 
                  a(href="#").pagination__next
                    svg(class="icon-arrow-long")
                      use(xlink:href="img/sprite.svg#arrow-long")
            // /pagination
      // /articles

      include blocks/cities.pug

    include core/footer.pug
