extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 
          .row 
            .col-lg-3 
              ul.welcome__menu 
                li 
                  a(href="#") Малахит
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Топас топол Эко
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Топас-С топол Эко
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Топ Аэро топол Эко
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Астра Юнилос
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Евролос Био Евролос
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Евролос Грунт Евролос
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
                li 
                  a(href="#") Тверь Classic
                    svg(class="icon-arrow-light")
                      use(xlink:href="img/sprite.svg#arrow-light")
            .col-lg-9 
              .welcome__slider 
                #sliderWelcome 
                  .swiper-wrapper 
                    .swiper-slide 
                      .welcome__item 
                        .welcome__img 
                          img(src="img/welcome-banner.jpg", alt="")
                        .welcome__content 
                          .welcome__title Септик под ключ в Москве и области за 1 день от 25 000 руб.
                          .welcome__text Здесь текстовое описание которое дополняет заголовок
                          .welcome__btn 
                            .btn.btn--big.btn--white-border Получить консультацию
                    .swiper-slide 
                      .welcome__item 
                        .welcome__img 
                          img(src="img/welcome-banner.jpg", alt="")
                        .welcome__content 
                          .welcome__title Септик под ключ в Москве и области за 1 день от 25 000 руб.
                          .welcome__text Здесь текстовое описание которое дополняет заголовок
                          .welcome__btn 
                            .btn.btn--big.btn--white-border Получить консультацию
                    .swiper-slide 
                      .welcome__item 
                        .welcome__img 
                          img(src="img/welcome-banner.jpg", alt="")
                        .welcome__content 
                          .welcome__title Септик под ключ в Москве и области за 1 день от 25 000 руб.
                          .welcome__text Здесь текстовое описание которое дополняет заголовок
                          .welcome__btn 
                            .btn.btn--big.btn--white-border Получить консультацию
                .welcome__controlls 
                  .welcome__slider-arrow.welcome__slider-arrow--prev.swiper-button-prev
                  .welcome__slider-arrow.welcome__slider-arrow--next.swiper-button-next
                .welcome__pagination.swiper-pagination
      // /welcome

      // benefit
      .benefit
        .container 
          .title Септик для дома под ключ в Москве
          .benefit__slider 
            .benefit__slider-inner 
              #sliderBenefit 
                .swiper-wrapper 
                  .swiper-slide 
                    mixin benefit-item(imgUrl, title, link)
                      if link 
                        a(href="#").benefit__item.benefit__item--link
                          .benefit__icon 
                            img(src= imgUrl, alt="")
                          .benefit__title!= title
                      else 
                        .benefit__item 
                          .benefit__icon 
                            img(src= imgUrl, alt="")
                          .benefit__title!= title
                    +benefit-item('img/benefit-icons/img1.svg', 'Монтаж <br>за 1 день')
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img2.svg', 'Бесплатный выезд инженеров')
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img3.svg', 'Гарантия 5 лет')
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img4.svg', 'Обслуживание септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img5.svg', 'Ремонт септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img6.svg', 'Наращивание септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img7.svg', 'Пайка септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img8.svg', 'Откачка септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img9.svg', 'Модернизация септиков', true)
                  .swiper-slide 
                    +benefit-item('img/benefit-icons/img2.svg', 'Бесплатный выезд инженеров')
            .benefit__slider-arrow.benefit__slider-arrow--prev.swiper-button-prev
            .benefit__slider-arrow.benefit__slider-arrow--next.swiper-button-next
      // /benefit

      // popular
      .popular
        .container 
          .title Популярные модели септиков
          form(action="#").popular__categories 
            #popularCategoriesSlider 
              .swiper-wrapper 
                .swiper-slide 
                  mixin popular-categories-item(text, checked)
                    .popular__categories-item 
                      label
                        if checked
                          input(type="radio", name="popularCategories" checked)
                        else 
                          input(type="radio", name="popularCategories")
                        span= text 
                  +popular-categories-item('Для частного дома')
                .swiper-slide 
                  +popular-categories-item('Для дачи')
                .swiper-slide 
                  +popular-categories-item('Для частного дома')
                .swiper-slide 
                  +popular-categories-item('Для грунтовых вод')
                .swiper-slide 
                  +popular-categories-item('Для дачи')
                .swiper-slide 
                  +popular-categories-item('Для частного дома')
                .swiper-slide 
                  +popular-categories-item('Для дачи')
                .swiper-slide 
                  +popular-categories-item('Для огорода')
                .swiper-slide 
                  +popular-categories-item('Для дома')
                .swiper-slide 
                  +popular-categories-item('Для грунтовых вод')
                .swiper-slide 
                  +popular-categories-item('Для дачи')
          form(action="#").popular__types 
            #popularTypesSlider 
              .swiper-wrapper
                .swiper-slide
                  mixin popular-types-item(text, checked)
                    .popular__types-item 
                      label
                        if checked
                          input(type="radio", name="popularTypes" checked)
                        else 
                          input(type="radio", name="popularTypes")
                        span= text 
                  +popular-types-item('Септики Юнилос', 'checked')
                .swiper-slide
                  +popular-types-item('Евролос Био Евролос')
                .swiper-slide
                  +popular-types-item('Топас топол Эко')
                .swiper-slide
                  +popular-types-item('Малахит')
      // /popular

    include core/footer.pug
