extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="catalog-list.html") Каталог (список)
            li 
              a(href="product.html") Страница товара
            li 
              a(href="service.html") Услуга
            li 
              a(href="contact.html") Контакты
            li 
              a(href="catalog-spares.html") Каталог запчастей
            li 
              a(href="catalog-services.html") Каталог услуг
            li 
              a(href="faq.html") FAQ
            li 
              a(href="articles.html") Все статьи
            li 
              a(href="article.html") Одна статья
            li 
              a(href="text-style.html") Стили текста

    include core/footer.pug
