extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="catalog-list.html") Каталог (список)

    include core/footer.pug
