extends core/base.pug

block title 
  title Наши работы

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Наши работы
      // /breadcrumbs

      // portfolio-page
      .portfolio-page
        .container 

          .title Наши работы
          
          .portfolio-page__sort
            .portfolio-page__sort-item(data-portfolio-trigger="all").active Все
            .portfolio-page__sort-item(data-portfolio-trigger="photo") Фото
            .portfolio-page__sort-item(data-portfolio-trigger="video") Видео

          .portfolio-page__items 
            .row 
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="video") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img1.jpg", alt="")
                  .portfolio-page__play 
                    img(src="img/play.svg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img2.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img3.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img4.jpg", alt="")
              .col-xl-3.col-md-4.col-sm-6(data-portfolio-controlled="photo") 
                .portfolio-page__item(data-bs-toggle="modal" data-bs-target="#portfolioPagePopup")
                  img(src="img/portfolio/img5.jpg", alt="")

          .portfolio-page__more 
            .btn.btn--big.btn--blue-border Показать еще 
      // /portfolio-page

      // modal-portfolio-page
      .modal.modal--portfolio-page.fade#portfolioPagePopup
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-close(data-bs-dismiss="modal")
            .modal-portfolio-page
              .modal-portfolio-page__slider 
                #sliderModalPortfolioPage 
                  .swiper-wrapper 
                    .swiper-slide 
                      .modal-portfolio-page__item 
                        .video
                          <iframe src="https://dzen.ru/embed/vdI-RjzSyAng?from_block=partner&from=zen&backoffice=1&mute=0&autoplay=0&tv=0" allow="fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media" frameborder="0" scrolling="no" allowfullscreen></iframe>
                    .swiper-slide 
                      .modal-portfolio-page__item 
                        img(src="img/portfolio/img2.jpg", alt="")
                    .swiper-slide 
                      .modal-portfolio-page__item 
                        img(src="img/portfolio/img3.jpg", alt="")
                    .swiper-slide 
                      .modal-portfolio-page__item 
                        img(src="img/portfolio/img4.jpg", alt="")
                    .swiper-slide 
                      .modal-portfolio-page__item 
                        img(src="img/portfolio/img5.jpg", alt="")
                .modal-portfolio-page__slider-arrow.modal-portfolio-page__slider-arrow--prev.swiper-button-prev
                .modal-portfolio-page__slider-arrow.modal-portfolio-page__slider-arrow--next.swiper-button-next
                .modal-portfolio-page__pagination.swiper-pagination
      // /modal-portfolio-page

      include blocks/cities.pug

    include core/footer.pug
