extends core/base.pug

block title 
  title Страница товара

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              a(href="#") Каталог септиков
            li 
              a(href="#") Малахит
            li 
              span Септик Юнилос
      // /breadcrumbs

      // product
      .product
        .container 
          .title Септик для частного дома Юнилос 350л черный БИО Элит+
          .product__art-items.d-flex.d-xxl-none
            .product__art Артикул 234 454
            .product__items.d-block.d-md-none
              .product__items-row 
                .product__item 
                  span 
                    svg(class="icon-printer")
                      use(xlink:href="img/sprite.svg#printer")
                  .product__item-text Распечатать
                .product__item.js-drop-social
                  span 
                    svg(class="icon-links")
                      use(xlink:href="img/sprite.svg#links")
                  .product__item-text Поделится
              .product__drop
                .product__drop-title Поделиться товаром
                .product__drop-subtitle Ссылка для вставки
                .product__drop-link 
                  p https://septic-master.pro/catalog/septik-malahit/malahit-air/
                  a(href="#") 
                    svg(class="icon-copy")
                      use(xlink:href="img/sprite.svg#copy")
                .product__drop-subtitle Поделитесь в соц.сетях:
                .product__drop-social 
                  .product__drop-social-row 
                    a(href="#").product__drop-social-item 
                      img(src="img/social-icons/whatsapp.svg", alt="")
                    a(href="#").product__drop-social-item 
                      img(src="img/social-icons/viber.svg", alt="")
                    a(href="#").product__drop-social-item 
                      img(src="img/social-icons/vk.svg", alt="")
                    a(href="#").product__drop-social-item 
                      img(src="img/social-icons/telegram.svg", alt="")
                .product__drop-close

          .product__container 

            .product__slider 
              .product__stickers 
                .product-card__sticker.product-card__sticker--yellow Распродажа 
                .product-card__sticker.product-card__sticker--red Хит
                .product-card__sticker.product-card__sticker--blue Новинка
              #sliderProduct
                .swiper-wrapper 
                  .swiper-slide 
                    .product__img 
                      img(src="img/products/img1.jpg", alt="")
                  .swiper-slide 
                    .product__img 
                      img(src="img/products/img2.jpg", alt="")
                  .swiper-slide 
                    .product__img 
                      img(src="img/products/img3.jpg", alt="")
                  .swiper-slide 
                    .product__img 
                      img(src="img/products/img4.jpg", alt="")
                  .swiper-slide 
                    .product__img 
                      img(src="img/products/img5.jpg", alt="")
              #thumbProduct
                .swiper-wrapper 
                  .swiper-slide 
                    .product__thumb 
                      img(src="img/products/img1.jpg", alt="")
                  .swiper-slide 
                    .product__thumb 
                      img(src="img/products/img2.jpg", alt="")
                  .swiper-slide 
                    .product__thumb 
                      img(src="img/products/img3.jpg", alt="")
                  .swiper-slide 
                    .product__thumb 
                      img(src="img/products/img4.jpg", alt="")
                  .swiper-slide 
                    .product__thumb 
                      img(src="img/products/img5.jpg", alt="")

            .product__content 

              .product__row 

                .product__info 
                  .product__art.d-none.d-xxl-block Артикул 234 454
                  .product__title Модификации
                  .product__version 
                    .product__slider-arrow.product__slider-arrow--prev.swiper-button-prev
                    #sliderVersion
                      .swiper-wrapper 
                        .swiper-slide 
                          .product__version-item Евролос ПРО 30
                        .swiper-slide 
                          .product__version-item Евролос ПРО 20
                        .swiper-slide 
                          .product__version-item Евролос ПРО
                        .swiper-slide 
                          .product__version-item Евролос ПРО 10
                        .swiper-slide 
                          .product__version-item Евролос ПРО 40
                    .product__slider-arrow.product__slider-arrow--next.swiper-button-next
                  table.product__table  
                    tr  
                      td Количество пользователей 
                      td 
                        b до 75 человек
                    tr 
                      td Производительность
                      td 
                        b до 12 м³ в сутки
                    tr 
                      td Тип очистного устройства
                      td 
                        b аэрационная усановка
                    tr 
                      td Способ очищения воды
                      td 
                          b принудительный
                  .product__items.d-none.d-md-block
                    .product__items-row 
                      .product__item 
                        span 
                          svg(class="icon-printer")
                            use(xlink:href="img/sprite.svg#printer")
                        .product__item-text Распечатать
                      .product__item.js-drop-social
                        span 
                          svg(class="icon-links")
                            use(xlink:href="img/sprite.svg#links")
                        .product__item-text Поделится
                    .product__drop
                      .product__drop-title Поделиться товаром
                      .product__drop-subtitle Ссылка для вставки
                      .product__drop-link 
                        p https://septic-master.pro/catalog/septik-malahit/malahit-air/
                        a(href="#") 
                          svg(class="icon-copy")
                            use(xlink:href="img/sprite.svg#copy")
                      .product__drop-subtitle Поделитесь в соц.сетях:
                      .product__drop-social 
                        .product__drop-social-row 
                          a(href="#").product__drop-social-item 
                            img(src="img/social-icons/whatsapp.svg", alt="")
                          a(href="#").product__drop-social-item 
                            img(src="img/social-icons/viber.svg", alt="")
                          a(href="#").product__drop-social-item 
                            img(src="img/social-icons/vk.svg", alt="")
                          a(href="#").product__drop-social-item 
                            img(src="img/social-icons/telegram.svg", alt="")
                      .product__drop-close
                    
                .product__block 
                  .product__block-top
                    .product__stars 
                      .product__stars-icon.product__stars-icon--fill 
                      .product__stars-icon.product__stars-icon--fill 
                      .product__stars-icon.product__stars-icon--fill 
                      .product__stars-icon.product__stars-icon--fill 
                      .product__stars-icon
                    .product__prices 
                      .product__price 420 290 ₽
                      .product__price-old 542 290 ₽
                    .product__install 
                      .product__install-price от 80 290 ₽
                      .product__install-item 
                        svg(class="icon-info")
                          use(xlink:href="img/sprite.svg#info")
                        | монтаж под ключ
                    .product__operations 
                      .product__operations-item.product__operations-item--compare 
                        label
                          input(type="checkbox")
                          span 
                          | К сравнению
                      .product__operations-item.product__operations-item--favorite
                        label
                          input(type="checkbox")
                          span 
                          | В избранное
                    .product__buttons 
                      button.btn.btn--big.btn--blue 
                        span.btn__inner Заказать с установкой
                      a(href="#").product__link Купить
                    .product__delivery 
                      svg(class="icon-pack")
                        use(xlink:href="img/sprite.svg#pack")
                      | Доставим и установим <br>ориентировочно 2 мая
                  ul.product__block-bottom 
                    li 
                      svg(class="icon-percent")
                        use(xlink:href="img/sprite.svg#percent")
                      | Кредит от 
                      b 33 291 Р/мес
                    li 
                      svg(class="icon-percent")
                        use(xlink:href="img/sprite.svg#percent")
                      | Рассрочка от 
                      b 17 131 Р/мес
                    li 
                      a(href="#") 
                        svg(class="icon-p")
                          use(xlink:href="img/sprite.svg#p")
                        | Нашли дешевле?
      // /product

      // benefit2
      .benefit2
        .container 
          .benefit2__items 
            .row 
              .col-xl-3.col-md-6 
                .benefit2__item 
                  .benefit2__icon 
                    img(src="img/benefit2-icons/img1.svg", alt="")
                  .benefit2__text Профессиональные мастера, знающие свою работу
              .col-xl-3.col-md-6 
                .benefit2__item 
                  .benefit2__icon 
                    img(src="img/benefit2-icons/img2.svg", alt="")
                  .benefit2__text Гарантийный возврат и обмен товара
              .col-xl-3.col-md-6 
                .benefit2__item 
                  .benefit2__icon 
                    img(src="img/benefit2-icons/img3.svg", alt="")
                  .benefit2__text Удобная и быстрая доставка
              .col-xl-3.col-md-6 
                .benefit2__item 
                  .benefit2__icon 
                    img(src="img/benefit2-icons/img4.svg", alt="")
                  .benefit2__text Весь товар сертифицирован
      // /benefit2

      // tabs-sliders
      .tabs-sliders
        .container 

          .tabs-sliders__sliders 

            #tabsThumbs 
              .swiper-wrapper 
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Описание
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Характеристики
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Монтаж и схема
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Гарантии
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Обслуживание
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Оплата и доставка
                .swiper-slide 
                  .tabs-sliders__thumb
                    span Отзывы
            #tabsSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 1
                    p На нашем сайте вы можете заказать септик Топаэро 12. Наша компания проводит своевременную доставку и монтаж под ключ. У нас имеется вся необходимая техника и оборудование. Наша опытная бригада установит септик от производителя в короткие сроки.
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                    p Топаэро 12 Пр - система автономной канализации для жилых домов, офисов, гостиниц. Рассчитана на 75 человек, с максимальным залповым сбросом до 3000 литров. Можно установить 12 ванн, 10 стиральных машин, 20 унитазов и 30 раковин. Суточный объем до 12м
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 2
                    p Топаэро 12 Пр - система автономной канализации для жилых домов, офисов, гостиниц. Рассчитана на 75 человек, с максимальным залповым сбросом до 3000 литров. Можно установить 12 ванн, 10 стиральных машин, 20 унитазов и 30 раковин. Суточный объем до 12м
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 3
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                    p На нашем сайте вы можете заказать септик Топаэро 12. Наша компания проводит своевременную доставку и монтаж под ключ. У нас имеется вся необходимая техника и оборудование. Наша опытная бригада установит септик от производителя в короткие сроки.
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 4
                    p На нашем сайте вы можете заказать септик Топаэро 12. Наша компания проводит своевременную доставку и монтаж под ключ. У нас имеется вся необходимая техника и оборудование. Наша опытная бригада установит септик от производителя в короткие сроки.
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                    p Топаэро 12 Пр - система автономной канализации для жилых домов, офисов, гостиниц. Рассчитана на 75 человек, с максимальным залповым сбросом до 3000 литров. Можно установить 12 ванн, 10 стиральных машин, 20 унитазов и 30 раковин. Суточный объем до 12м
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 5
                    p Топаэро 12 Пр - система автономной канализации для жилых домов, офисов, гостиниц. Рассчитана на 75 человек, с максимальным залповым сбросом до 3000 литров. Можно установить 12 ванн, 10 стиральных машин, 20 унитазов и 30 раковин. Суточный объем до 12м
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 6
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
                    p На нашем сайте вы можете заказать септик Топаэро 12. Наша компания проводит своевременную доставку и монтаж под ключ. У нас имеется вся необходимая техника и оборудование. Наша опытная бригада установит септик от производителя в короткие сроки.
                .swiper-slide 
                  .tabs-sliders__description 
                    h2 Описание очистной станции Topaero 12 Pro 7
                    p Топаэро 12 Пр - система автономной канализации для жилых домов, офисов, гостиниц. Рассчитана на 75 человек, с максимальным залповым сбросом до 3000 литров. Можно установить 12 ванн, 10 стиральных машин, 20 унитазов и 30 раковин. Суточный объем до 12м
                    p Очистная станция с принудительным сбросом с помощью насоса. Устанавливается в глинистом грунте, высоком стоянии грунтовых вод, сложном рельефе местности, когда невозможно самотечное водоотведение. Для установки требуется спецтехника. Переработка сточных вод в герметичном режиме, степень очистки стоков 98%.
      // /tabs-sliders

      .small-banners.d-block.d-md-none
        .container
          .row.gy-3
            .col-12.col-sm-6
              // banner-small
              .banner-small
                .banner-small__item 
                  .banner-small__img 
                    img(src="img/banner-small.jpg", alt="")
                  .banner-small__content 
                    .banner-small__title Калькулятор подбора автономной канализации
                    .banner-small__btn 
                      .btn.btn--big.btn--blue(data-bs-toggle="modal" data-bs-target="#popupCalc") 
                        .btn__inner Рассчитать
              // /banner-small

            .col-12.col-sm-6
              // banner-small
              .banner-small
                .banner-small__slider 
                  #sliderBannerSmall
                    .swiper-wrapper 
                      .swiper-slide 
                        .banner-small__item 
                          .banner-small__img 
                            img(src="img/banner-small-2.jpg", alt="")
                          .banner-small__content.banner-small__content--white
                            .banner-small__title Пенсионарам скидки!
                            .banner-small__text Монтаж септика и подключение подводящихи отводящих магистралей
                            .banner-small__btn 
                              .btn.btn--big.btn--blue(data-bs-toggle="modal" data-bs-target="#offerPopup")
                                .btn__inner Получить скидку
                      .swiper-slide 
                        .banner-small__item 
                          .banner-small__img 
                            img(src="img/banner-small.jpg", alt="")
                          .banner-small__content
                            .banner-small__title Калькулятор подбора автономной канализации
                            .banner-small__btn 
                              .btn.btn--big.btn--blue(data-bs-toggle="modal" data-bs-target="#popupCalc")
                                .btn__inner Рассчитать
                  .banner-small__pagination.swiper-pagination
              // /banner-small

      // portfolio-slider
      .portfolio-slider
        .container 
          .title Наши работы
          .portfolio-slider__slider 
            #sliderPortfolioSlider 
              .swiper-wrapper
                .swiper-slide
                  a(href="img/portfolio/img1.jpg" data-fancybox).portfolio-slider__img 
                    img(src="img/portfolio/img1.jpg", alt="")
                .swiper-slide
                  a(href="img/portfolio/img2.jpg" data-fancybox).portfolio-slider__img 
                    img(src="img/portfolio/img2.jpg", alt="")
                .swiper-slide
                  a(href="img/portfolio/img3.jpg" data-fancybox).portfolio-slider__img 
                    img(src="img/portfolio/img3.jpg", alt="")
                .swiper-slide
                  a(href="img/portfolio/img4.jpg" data-fancybox).portfolio-slider__img 
                    img(src="img/portfolio/img4.jpg", alt="")
                .swiper-slide
                  a(href="img/portfolio/img5.jpg" data-fancybox).portfolio-slider__img 
                    img(src="img/portfolio/img5.jpg", alt="")
            .portfolio-slider__pagination.swiper-pagination
            .portfolio-slider__slider-arrow.portfolio-slider__slider-arrow--prev.swiper-button-prev
            .portfolio-slider__slider-arrow.portfolio-slider__slider-arrow--next.swiper-button-next
          a(href="#").portfolio-slider__btn 
            .btn.btn--big.btn--blue-border Посмотреть все работы
      // /portfolio-slider

    include core/footer.pug
