extends core/base.pug

block title 
  title Услуга

block content

  .page 

    include core/header.pug

    .content 

      // service
      .service
        .container 
          .service__sidebar 
          .service__main 
            .title Обслуживание септиков
      // /service

    include core/footer.pug
