extends core/base.pug

block title 
  title Стили текста

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              a(href="#") Статьи
            li 
              span Какой вид септика лучше выбрать и почему? Разбираемся детально во всех ньюансах
      // /breadcrumbs


      // text-style
      .text-style
        .container 
          .title Заголовок страницы и статьи
          .text-style__block 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
          .text-style__block 
            h2 Заголовок внутри текста
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
          .text-style__block 
            h3 Заголовок внутри текста
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            ul 
              li пункт 1
              li пункт 2
              li пункт 3
              li пункт 4
              li пункт 5
          .text-style__block 
            h4 Заголовок внутри текста
            ol 
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            blockquote «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. 
          .text-style__block 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
            table 
              tr 
                th Услуга
                th Стоимость
                th Описание
              tr 
                td Очистка септика
                td 12 000 ₽
                td Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
              tr 
                td Очистка септика
                td 12 000 ₽
                td Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
              tr 
                td Очистка септика
                td 12 000 ₽
                td Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
              tr 
                td Очистка септика
                td 12 000 ₽
                td Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
          .text-style__block 
            h5 Заголовок внутри текста
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p «Эко-Септик» ваш надежный партнер в создании современной системы очистки сточных вод на даче или в частном доме. В тематических вкладках электронного каталога можно ознакомиться со всем перечнем предлагаемой продукции и услуг. Предварительный расчет производится самостоятельно, с помощью функционального онлайн калькулятора. 
            p Для детальной оценки, стоит согласовать выезд на объект инженера-замерщика для проведения расчетов и подготовки оптимального предложения.
      // /text-style

    include core/footer.pug
