/* brands */
.brands { 
  margin-bottom: 90px;
  .title {
    margin-bottom: 25px;
  }
  &__slider {
    padding: 0 1px;
    position: relative;
    user-select: none;
    #sliderBrands {
      overflow: hidden;
    }
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    border: 1px solid $border_color;
    border-radius: 4px;
    padding: 24px 25px;
    img {
      max-height: 100%;
    }
  }
  &__slider-arrow {
    &--prev {
      left: -20px;
    }
    &--next {
      right: -20px;
    }
  }
  &__pagination {
    bottom: -32px !important;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
    margin-bottom: 35px;
    .title {
      margin-bottom: 20px;
    }
    &__item {
      height: 75px;
      padding: 15px;
    }
    &__slider-arrow {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    overflow: hidden;
    &__slider {
      #sliderBrands {
        overflow: visible;
      }
    }
  }
}
/* /brands */