/* calc */
.calc { 
  margin-bottom: 80px;
  .title {
    margin-bottom: 35px;
  }
  &__container {
    background-color: $background_color;
    border-radius: 4px;
  }
  &__top {
    padding: 30px 30px 36px;
    .input {
      flex-shrink: 0;
      width: 150px;
      input {
        height: 40px;
        color: $text_gray_color;
      }
    }
    .select {
      flex-shrink: 0;
      width: 150px;
      select {
        height: 40px;
        color: $text_gray_color;
      }
      .select2 {
        width: 100% !important;
      }
    }
    .checkbox {
      margin-right: 10px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $title_color;
    white-space: nowrap;
    margin-bottom: 14px;
    &--mb20 {
      margin-bottom: 20px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    margin-right: 10px;
    font-weight: 500;
    opacity: 0.8;
    line-height: 18px;
  }
  &__checkbox-row {
    margin-bottom: 15px;
    .checkbox__text {
      opacity: 0.8;
      font-weight: 500;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__bottom {
    padding: 30px;
    border-top: 1px solid $border_color;
    .input {
      width: 100%;
      input {
        color: $text_gray_color;
      }
    }
    .textarea {
      textarea {
        height: 50px;
        padding: 11px 16px;
        color: $text_gray_color;
      }
    }
    .btn {
      width: 100%;
    }
  }
  &__group {
    .row {
      margin-top: -10px;
      > * {
        margin-top: 10px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
    .title {
      margin-bottom: 20px;
    }
    &__top {
      padding: 30px 15px 17px;
    }
    &__bottom {
      padding: 20px 15px 30px;
      .textarea {
        textarea {
          height: 132px;
        }
      }
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
      &--mb20 {
        margin-bottom: 15px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
    }
    &__checkbox-row {
      margin-bottom: 10px;
    }
  }
}
/* /calc */