/* header */
.header { 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  &__top {
    padding: 7px 0;
    background-color: #D4E4F4;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__middle {
    padding: 21px 0;
    background-color: $background_color;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__bottom {
    background-color: #D4E4F4;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__location {
    margin-right: auto;
    position: relative;
  }
  &__location-head {
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
    fill: $accent_color;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    user-select: none;
    transition: .1s;
    color: $text_color;
    svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.45448 1.47166C7.79114 1.135 7.79114 0.589161 7.45448 0.252498C7.11782 -0.0841654 6.57198 -0.0841662 6.23531 0.252497L4.00001 2.4878L1.76488 0.25266C1.42821 -0.0840031 0.882374 -0.0840028 0.545711 0.25266C0.209048 0.589324 0.209047 1.13516 0.54571 1.47183L3.39043 4.31655C3.72646 4.65258 4.27089 4.65321 4.6077 4.31843C4.60839 4.31775 4.60907 4.31707 4.60976 4.31638L7.45448 1.47166Z' fill='%230383FD'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 8px;
      right: 0;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        color: #42A1FC;
      }
    }
  }
  &__location-drop {
    padding: 15px 30px 15px 20px;
    background-color: $accent_color;
    border-radius: 10px;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0,10px);
    transition: .3s;
    z-index: 10;
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 7px;
      background: linear-gradient(to right bottom, transparent 49.5%, $accent_color 50%) left / 50.025% 100% no-repeat, linear-gradient(to left bottom, transparent 49.5%, $accent_color 50%) right / 50.025% 100% no-repeat;
      position: absolute;
      bottom: 100%;
      left: 30px;
    }
    &.open {
      visibility: visible;
      opacity: 1;
      transform: translate(0,0);
    }
  }
  &__location-title {
    margin-bottom: 10px;
    span {
      font-weight: bold;
    }
  }
  &__location-row {
    display: flex;
    margin-left: -15px;
  }
  &__location-link {
    font-weight: bold;
    text-decoration: underline;
    white-space: nowrap;
    margin-left: 15px;
    cursor: pointer;
    user-select: none;
    color: #fff;
  }
  &__location-close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    user-select: none;
    &:after,&:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
  &__email {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $link_color;
    fill: $accent_color;
    white-space: nowrap;
    svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        color: #42A1FC;
        fill: #42A1FC;
      }
    }
  }
  &__worktime {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    fill: $accent_color;
    white-space: nowrap;
    svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
  &__logo {
    display: block;
    max-width: 200px;
    flex-shrink: 0;
    margin-right: 30px;
    img {
      display: block;
    }
  }
  &__sub {
    max-width: 210px;
    margin-right: 65px;
    font-size: 13px;
    line-height: 16px;
  }
  &__search {
    margin-right: 46px;
    flex-grow: 1;
    position: relative;
    input {
      width: 100%;
      height: 40px;
      padding: 0 16px;
      background-color: #fff;
      border-radius: 4px;
      border: none;
      outline: none;
      font-size: 13px;
      line-height: 16px;
      &::placeholder {
        color: #7A8089;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      z-index: 2;
      fill: $blue_color;
      cursor: pointer;
      user-select: none;
      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
  &__social {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-left: 16px;
      border: 1px solid $accent_color;
      border-radius: 100%;
      fill: $accent_color;
      transition: .3s;
      svg {
        width: 20px;
        height: 20px;
      }
      @include media-breakpoint-up(md) {
        &:hover {
          fill: #42A1FC;
          border-color: #42A1FC;
        }
      }
    }
  }
  &__social-row {
    display: flex;
    margin-right: 46px;
    margin-left: -16px;
  }
  &__tels {
    margin-right: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    a {
      display: block;
      color: $title_color;
      white-space: nowrap;
      @include media-breakpoint-up(md) {
        &:hover {
          color: #42A1FC;
        }
      }
    }
  }
  &__btn {
    .btn {
      padding: 10px 7px;
      white-space: nowrap;
    }
  } 
  &__catalog-btn {
    .btn {
      padding: 16px 30px;
      border-radius: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      white-space: nowrap;
      span {
        display: block;
        margin-top: -2px;
      }
    }
    .hamburger {
      padding: 0;
      margin-right: 12px;
      flex-shrink: 0;
      &.is-active {
        .hamburger-inner {
          background-color: #fff;
          &:before {
            background-color: #fff;
          }
          &:after {
            background-color: #fff;
          }
        }
      }
    }
    .hamburger-box {
      width: 22px;
      height: 14px;
    }
    .hamburger-inner {
      width: 22px;
      background-color: #fff;
      &:before {
        width: 22px;
        background-color: #fff;
        top: -6px;
      }
      &:after {
        width: 22px;
        background-color: #fff;
        bottom: -6px;
      }
    }
  }
  &__menu {
    
  }
  &__menu-list {
    display: flex;
    align-items: center;
    margin-left: -60px;
    font-size: 14px;
    line-height: 17px;
  }
  &__menu-item {
    margin-left: 60px;
    position: relative;
  }
  &__menu-link {
    color: $text_color;
    fill: $text_color;
    white-space: nowrap;
    svg {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      margin-left: 7px;
    }
    @include media-breakpoint-up(lg) {
      &.active {
        color: #42A1FC;
        fill: #42A1FC;
      }
    }
    @include media-breakpoint-up(lg) {
      &:hover {
        color: #42A1FC;
        fill: #42A1FC;
      }
    }
  }
  &__menu-sublist {
    padding: 12px 16px 16px;
    background-color: #fff;
    box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 15px);
    visibility: hidden;
    opacity: 0;
    transform: translate(0,10px);
    transition: .3s;
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 7px;
      background: linear-gradient(to right bottom, transparent 49.5%, #fff 50%) left / 50.025% 100% no-repeat, linear-gradient(to left bottom, transparent 49.5%, #fff 50%) right / 50.025% 100% no-repeat;
      position: absolute;
      bottom: 100%;
      left: 30px;
    }
    @include media-breakpoint-up(lg) {
      &.open {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  &__menu-subitem {
    margin-bottom: 17px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__menu-sublink {
    white-space: nowrap;
    color: $text_color;
    @include media-breakpoint-up(md) {
      &:hover {
        color: $link_color;
      }
    }
  }
  &__operation {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
  }
  &__operation-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    fill: $accent_color;
    transition: .1s;
    &:not(:last-child) {
      padding-right: 20px;
      margin-right: 20px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 20px;
        background-color: #B1CEEA;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: 4px;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        fill: #42A1FC;
        color: #42A1FC;
      }
    }
  }
  &__logo-stick {
    display: none;
    max-width: 200px;
    img {
      display: block;
    }
  }
  &__btn-stick {
    display: none;
    .btn {
      padding: 10px 16px;
      white-space: nowrap;
    }
  }
  &__catalog {
    max-height: calc(100vh - 190px);
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%,10px);
    transition: .3s;
    &.open {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%,0);
    }
  }
  &__catalog-container {
    max-height: calc(100vh - 190px);
    background-color: #fff;
    border-radius: 4px;
  }
  &__catalog-menu {
    max-height: calc(100vh - 190px);
    padding: 25px 25px 40px;
    border-right: 1px solid $border_color;
    font-weight: 500;
    overflow-y: auto;
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        color: $text_color;
        position: relative;
        fill: #9A9A9A;
        svg {
          width: 12px;
          height: 12px;
          transform: rotate(-90deg);
          position: absolute;
          top: 10px;
          right: 0;
        }
        @include media-breakpoint-up(md) {
          &:hover {
            color: $link_color;
            fill: $link_color;
          }
        }
      }
    }
  }
  &__catalog-lists {
    max-height: calc(100vh - 190px);
    padding: 25px 25px 40px 0;
    overflow-y: auto;
  }
  &__catalog-list {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    li {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $text_color;
        @include media-breakpoint-up(md) {
          &:hover {
            color: $link_color;
          }
        }
      }
    }
  }
  &__menu-btn {
    display: none;
  }
  &__menu-top {
    display: none;
  }
  &__menu-close {
    display: none;
  }
  &__subscribe {
    display: none;
  }
  &__info {
    display: none;
  }
  @include media-breakpoint-down(xxl) {
    &__menu-list {
      margin-left: -15px;
    }
    &__menu-item {
      margin-left: 15px;
    }
    &__operation-item {
      &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__operation-item {
      span {
        display: none;
      }
    }
    &__menu-item {
      &:last-child {
        .header__menu-sublist {
          left: auto;
          right: 0;
          &:after {
            left: auto;
            right: 30px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__bottom {
      padding: 5px 0;
    }
    &__catalog {
      display: none !important;
    }
    &__catalog-btn {
      display: none;
    }
    &__menu-btn {
      display: block;
      .hamburger {
        display: block;
      }
      .hamburger-box {
        display: block;
      }
    }
    &__logo {
      max-width: 140px;
      margin-right: 20px;
    }
    &__logo-stick {
      max-width: 140px;
    }
    &__btn-stick {
      display: none !important;
    }
    &__search {
      margin-right: 20px;
    }
    &__social-row {
      margin-right: 20px;
    }
    &__menu {
      width: 100%;
      max-width: 400px;
      padding: 60px 0 20px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.3);
      overflow-y: auto;
      position: fixed;
      left: -800px;
      top: 0;
      bottom: 0;
      transition: 0.5s;
      &.open {
        left: 0;
      }
    }
    &__menu-list {
      display: block;
    }
    &__social {
      a {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
    &__social-row {
      margin-left: -10px;
    }
    &__menu-list {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
    }
    &__menu-item {
      border-bottom: 1px solid $border_color;
      &:first-child {
        border-top: 1px solid $border_color;
      }
    }
    &__menu-link {
      display: block;
      padding: 20px 15px;
    }
    &__menu-sublist {
      display: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      box-shadow: none;
      text-transform: none;
      border-radius: 0;
      background: transparent;
      color: $text_gray_color;
      position: static;
      transition: none;
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
    }
    &__menu-sublink {
      color: $text_gray_color;
    }
    &__menu-subitem {
      margin-bottom: 15px;
    }
    &__menu-close {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 3px;
      cursor: pointer;
      user-select: none;
      &:after,&:before {
        content: '';
        display: block;
        width: 60%;
        height: 2px;
        background-color: $text_color;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }
  @include media-breakpoint-down(md) {
    position: fixed;
    &__social {
      a {
        width: 40px;
        height: 40px;
        margin-left: 16px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    &__social-row {
      margin-left: -16px;
    }
    &__logo-stick {
      max-width: 170px;
    }
    &__mobile {
      background-color: #E7F0F9;
      padding: 14px 0;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__container {
      width: 100%;
      max-width: 400px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.3);
      overflow-y: auto;
      position: fixed;
      left: -800px;
      top: 0;
      bottom: 0;
      transition: 0.5s;
      &.open {
        left: 0;
      }
    }
    &__top {
      padding: 18px 80px 18px 15px;
      .container {
        padding: 0;
        flex-wrap: wrap;
      }
    }
    &__middle {
      padding: 20px 15px;
      .container {
        padding: 0;
        flex-wrap: wrap;
      }
    }
    &__bottom {
      padding: 0;
      .container {
        padding: 0;
        flex-direction: column;
      }
    }
    &__menu {
      padding: 0;
      position: static;
      box-shadow: none;
    }
    &__email {
      width: 100%;
      margin-right: 0;
      margin-top: 17px;
      order: 1;
    }
    &__sub {
      width: 50%;
      margin-right: 0;
    }
    &__social {
      width: 50%;
    }
    &__social-row {
      margin-right: 0;
      justify-content: flex-end;
    }
    &__tels {
      width: 50%;
      margin-top: 15px;
      margin-right: 0;
    }
    &__btn {
      width: 50%;
      margin-top: 15px;
      .btn {
        width: 100%;
      }
    }
    &__search {
      width: 100%;
      margin-top: 20px;
      margin-right: 0;
      order: 1; 
    }
    &__menu {
      order: 1;
    }
    &__operation {
      width: 100%;
      background-color: #fff;
    }
    &__operation-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 25px 10px 20px;
      &:not(:last-child) {
        margin-right: 0;
        padding-right: 10px;
        &:after {
          height: 30px;
          background-color: $border_color;
          top: 50%;
          transform: translate(0,-50%);
        }
      }
      span {
        display: block;
      }
    }
    &__subscribe {
      display: block;
      width: 100%;
      padding: 20px 15px;
      order: 2;
      background-color: #fff;
      border-bottom: 1px solid $border_color;
    }
    &__subscribe-subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 18px;
    }
    &__subscribe-input {
      margin-bottom: 20px;
      .input {
        input {
          font-size: 14px;
        }
      }
    }
    &__subscribe-btn {
      margin-bottom: 20px;
      .btn {
        width: 100%;
      }
    }
    &__info {
      display: block;
      order: 3;
      padding: 20px 15px;
      background-color: #fff;
    }
    &__info-text {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 15px;
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        color: $link_color;
      }
    }
    &__info-payment {
      
    }
    &__info-payment-row {
      display: flex;
      align-items: center;
      margin-left: -15px;
      margin-top: -15px;
    }
    &__info-payment-item {
      display: block;
      max-width: 100px;
      margin-left: 15px;
      margin-top: 15px;
    }
  }
}

// stiky menu
#headerSticky {
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-up(md) {
      animation: showStyky 0.5s;
      .header__top {
        display: none !important;
      }
      .header__middle {
        display: none !important;
      }
      .header__bottom {
        padding: 15px 0;
        box-shadow: 0px 4px 31px rgba(106, 147, 189, 0.45);
      }
      .header__catalog-btn {
        display: none !important;
      }
      .header__logo-stick {
        display: block;
      }
      .header__btn-stick {
        display: block;
      }
      .header__menu-list {
        margin-left: -40px;
      }
      .header__menu-item {
        margin-left: 40px;
      }
      .header__catalog {
        max-height: calc(100vh - 100px);
      }
      .header__catalog-container {
        max-height: calc(100vh - 100px);
      }
      .header__catalog-menu {
        max-height: calc(100vh - 100px);
      }
    }
    @include media-breakpoint-down(xxl) {
      .header__operation {
        display: none;
      }
      .header__menu-list {
        margin-left: -15px;
      }
      .header__menu-item {
        margin-left: 15px;
      }
    }
    @include media-breakpoint-down(xl) {
      .header__btn-stick {
        display: none;
      }
    }
    @include media-breakpoint-down(md) {
      .header__mobile {
        box-shadow: 0px 4px 31px rgba(106, 147, 189, 0.45);
      }
      .header__operation {
        display: flex;
      }
    }
  }
}
@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
/* /header */