/* input */
.input { 
  input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #C5CDE0;
    outline: none;
    color: $title_color;
    transition: 0.1s;
    &::placeholder {
      color: $text_gray_color;
    }
    &:focus {
      border-color: #97A6CA;
    }
  }
  &__text {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.9;
  }
  &.invalid {
    input {
      border-color: #D12B2B;
      color: #D12B2B;
    }
    .input__text {
      color: #CB1313;
    }
  }
}
/* /input */