/* map */
.map { 
  margin-bottom: 60px;
  .title {
    margin-bottom: 25px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__map {
    height: 511px;
    border-radius: 4px;
    overflow: hidden;
    #map {
      height: 100%;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
    .title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__map {
      height: 343px;
    }
  }
}
/* /map */