/* popup */
.popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 480px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  &--w810 {
    max-width: 810px;
  }
}
/* overlay at start */
.mfp-bg {
  opacity: 0.4;
}
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.4;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: translate(0, 50px);
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: translate(0, 0);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: translate(0, 50px);
}
.mfp-close-btn-in .mfp-close {
  color: $text_gray_color;
  opacity: 1;
}

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .popup--full {
      max-width: $container-max-width - $grid-gutter-width;
    }
  }
}
/* /popup */