/* popular */
.popular { 
  margin-bottom: 60px;
  .title {
    margin-bottom: 30px;
  }
  &__categories {
    margin-bottom: 30px;
    position: relative;
    #popularCategoriesSlider {
      overflow: hidden;
    }
    .swiper-slide {
      width: auto;
      margin-top: 8px !important;
      margin-right: 8px !important;
    }
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  &__categories-item {
    input {
      position: absolute;
      visibility: hidden;
      &:checked {
        ~ span {
          background-color: #D7EBFF;
        }
      }
    }
    span {
      display: block;
      padding: 10px 14px;
      border: 1px solid #B2C5D8;
      border-radius: 20px;
      cursor: pointer;
      user-select: none;
      font-size: 13px;
      line-height: 16px;
      white-space: nowrap;
      transition: .1s;
      @include media-breakpoint-up(md) {
        &:hover {
          background-color: #ECF5FE;
        }
      }
    }
  }
  &__types {
    margin-bottom: 30px;
    overflow: hidden;
    .swiper-slide {
      width: auto;
    }
  }
  &__types-item {
    input {
      position: absolute;
      visibility: hidden;
      &:checked {
        ~ span {
          color: $link_color;
          border-color: $link_color;
        }
      }
    }
    span {
      display: block;
      padding-bottom: 10px;
      border-bottom: 1px solid transparent;
      font-size: 18px;
      line-height: 22px;
      color: $text_gray_color;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      transition: .1s;
      @include media-breakpoint-up(md) {
        &:hover {
          color: #42A1FC;
        }
      }
    }
  }
  &__cards {
    margin-bottom: 30px;
    > .row {
      margin-left: -3px;
      margin-right: -3px;
      margin-top: -6px;
      > * {
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 6px;
      }
    }
  }
  &__more {
    text-align: center;
    .btn {
      width: 100%;
      max-width: 300px;
    }
  }
  &__slider-arrow {
    &--prev {
      left: -20px;
    }
    &--next {
      right: -20px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 42px;
    .title {
      margin-bottom: 13px;
    }
    &__categories {
      margin-bottom: 20px;
    }
    &__types {
      margin-bottom: 20px;
      .swiper-slide {
        &:first-child {
          .popular__types-item {
            border-radius: 7px 0 0 7px;
          }
        }
        &:last-child {
          .popular__types-item {
            border-radius: 0 7px 7px 0;
          }
        }
      }
    }
    &__types-item {
      padding: 2px;
      background-color: #ECF0F3;
      span {
        padding: 8px 12px;
        border: none;
        border-radius: 7px;
        font-size: 14px;
        line-height: 17px;
      }
      input {
        &:checked {
          ~ span {
            background-color: $accent-color;
            color: #fff;
          }
        }
      }
    }
    &__cards {
      margin-bottom: 20px;
    }
    &__slider-arrow {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    overflow: hidden;
    &__categories {
      overflow: visible;
    }
    &__types {
      overflow: visible;
    }
    &__more {
      .btn {
        padding: 8px 20px;
        max-width: none;
      }
    }
    &__categories {
      #popularCategoriesSlider {
        overflow: visible;
      }
    }
  }
}
/* /popular */