/* portfolio-page */
.portfolio-page { 
  margin-bottom: 100px;
  .title {
    margin-bottom: 35px;
  }
  &__sort {
    display: flex;
    margin-bottom: 30px;
  }
  &__sort-item {
    padding: 10px 15px;
    margin-right: 8px;
    background-color: #ECF5FE;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: $text_color;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    @include media-breakpoint-up(md) {
      &:hover {
        background-color: $accent_color;
        color: #fff;
      }
    }
    &.active {
      background-color: #46C0FF;
      color: #fff;
    }
  }
  &__items {
    margin-bottom: 30px;
    .row {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -30px;
      > * {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
      }
    }
  }
  &__item {
    height: 210px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
      opacity: 0;
      transition: .1s;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &__more {
    text-align: center;
    margin-bottom: 30px;
    .btn {
      width: 100%;
      max-width: 220px;
      padding: 10px 30px;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    img {
      display: block;
      width: 55px;
      height: 55px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &__triggers {
    display: flex;
    margin-bottom: 30px;
  }
  &__trigger {
    &.active {
      .portfolio-page__sort-item {
        background-color: #46C0FF;
        color: #fff;
      }
    }
  }
  &__reviews {
    margin-bottom: 30px;
    > .row {
      margin-top: -30px;
      > * {
        margin-top: 30px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .title {
      margin-bottom: 25px;
    }
    &__items {
      .row {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -10px;
        > * {
          padding-left: 5px;
          padding-right: 5px;
          margin-top: 10px;
        }
      }
    }
    &__reviews {
      > .row {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -10px;
        > * {
          padding-left: 5px;
          padding-right: 5px;
          margin-top: 10px;
        }
      }
    }
  }
}
/* /portfolio-page */