/* product-card */
.product-card { 
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid $border_color;
  border-radius: 4px;
  overflow: hidden;
  &__img {
    flex-shrink: 0;
    height: 174px;
    border-bottom: 1px solid $border_color;
    position: relative;
    cursor: pointer;
    user-select: none;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      max-height: 100%;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        .product-card__overlay {
          opacity: 1;
        }
      }
    }
  }
  &__open-popup {
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 20px 18px;
  }
  &__description {
    
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__art {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: $text_gray_color;
  }
  &__stars {
    display: flex;
  }
  &__stars-icon {
    width: 16px;
    height: 15px;
    margin-left: 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12885 0.545576C7.51136 -0.133069 8.48864 -0.13307 8.87115 0.545575L10.6319 3.66947C10.7746 3.92265 11.0204 4.10122 11.3053 4.1587L14.8204 4.86794C15.584 5.02202 15.886 5.95147 15.3588 6.52497L12.9319 9.16489C12.7352 9.37884 12.6413 9.66777 12.6747 9.95648L13.0864 13.5187C13.1758 14.2926 12.3852 14.867 11.6768 14.5428L8.41616 13.0505C8.1519 12.9295 7.8481 12.9295 7.58384 13.0505L4.32318 14.5428C3.61482 14.867 2.82419 14.2926 2.91362 13.5187L3.32532 9.95648C3.35869 9.66777 3.26481 9.37884 3.06812 9.16489L0.641221 6.52497C0.113994 5.95147 0.415988 5.02202 1.17962 4.86794L4.69473 4.1587C4.97961 4.10122 5.22539 3.92265 5.36809 3.66947L7.12885 0.545576Z' fill='%23E7F0F9'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    &--fill {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12885 0.545576C7.51136 -0.133069 8.48864 -0.13307 8.87115 0.545575L10.6319 3.66947C10.7746 3.92265 11.0204 4.10122 11.3053 4.1587L14.8204 4.86794C15.584 5.02202 15.886 5.95147 15.3588 6.52497L12.9319 9.16489C12.7352 9.37884 12.6413 9.66777 12.6747 9.95648L13.0864 13.5187C13.1758 14.2926 12.3852 14.867 11.6768 14.5428L8.41616 13.0505C8.1519 12.9295 7.8481 12.9295 7.58384 13.0505L4.32318 14.5428C3.61482 14.867 2.82419 14.2926 2.91362 13.5187L3.32532 9.95648C3.35869 9.66777 3.26481 9.37884 3.06812 9.16489L0.641221 6.52497C0.113994 5.95147 0.415988 5.02202 1.17962 4.86794L4.69473 4.1587C4.97961 4.10122 5.22539 3.92265 5.36809 3.66947L7.12885 0.545576Z' fill='%230383FD'/%3E%3C/svg%3E%0A");
    }
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $title_color;
    margin-bottom: 5px;
    @include media-breakpoint-up(md) {
      &:hover {
        color: $link_color;
      }
    }
  }
  &__list {
    font-size: 13px;
    line-height: 16px;
    color: $text_gray_color;
    padding-bottom: 27px;
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      span {

      }
    }
  }
  &__num {
    margin-left: 5px;
  }
  &__prices {
    margin-top: auto;
    padding-top: 18px;
    border-top: 1px solid $border_color;
    margin-bottom: 17px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -15px;
      > * {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
      }
    }
  }
  &__price-old {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    color: #B2BFCF;
    white-space: nowrap;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #B2BFCF;
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-10deg);
    }
  }
  &__price {
    font-size: 22px;
    line-height: 27px;
    color: $title_color;
    white-space: nowrap;
  }
  &__price-text {
    font-size: 13px;
    line-height: 16px;
    color: $text_gray_color;
    white-space: nowrap;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      margin-right: 10px;
    }
  }
  &__buy {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: $link_color;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    @include media-breakpoint-up(md) {
      &:hover {
        color: #42A1FC;
      }
    }
  }
  &__stickers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 2;
    pointer-events: none;
  }
  &__sticker {
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    &--yellow {
      background-color: $yellow_color;
      color: $text_color;
    }
    &--red {
      background-color: $red_color;
      color: #fff;
    }
    &--blue {
      background-color: #67B5FF;
      color: #fff;
    }
  }
  &__operations {
    display: flex;
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 3;
  }
  &__operations-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    input {
      position: absolute;
      visibility: hidden;
    }
    span {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      user-select: none;
    }
    &--compare {
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5L17.5 17.5' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9442 17.5L11.9442 7.5L15 7.5C15.46 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9442 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05579 17.5L8.05579 3.33333C8.05579 2.87333 8.42912 2.5 8.88912 2.5L11.1116 2.5C11.5716 2.5 11.945 2.87333 11.945 3.33333L11.945 17.5L8.05579 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16663 17.5L4.16663 5.83333C4.16663 5.37333 4.53996 5 4.99996 5L8.05579 5L8.05579 17.5L4.16663 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9441 17.5L11.9441 7.5L14.9999 7.5C15.4599 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9441 17.5Z' fill='%230382FB' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05591 17.5L8.05591 3.33333C8.05591 2.87333 8.42924 2.5 8.88924 2.5L11.1117 2.5C11.5717 2.5 11.9451 2.87333 11.9451 3.33333L11.9451 17.5L8.05591 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16675 17.5L4.16675 5.83333C4.16675 5.37333 4.54008 5 5.00008 5L8.05591 5L8.05591 17.5L4.16675 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 17.4998L17.5 17.4998' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &--favorite {
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.33334C15.725 3.33334 17.5 5.81667 17.5 8.13334C17.5 12.825 10.1333 16.6667 10 16.6667C9.86667 16.6667 2.5 12.825 2.5 8.13334C2.5 5.81667 4.275 3.33334 6.91667 3.33334C8.43333 3.33334 9.425 4.09167 10 4.75834C10.575 4.09167 11.5667 3.33334 13.0833 3.33334Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.3335C15.725 3.3335 17.5 5.81683 17.5 8.1335C17.5 12.8252 10.1333 16.6668 10 16.6668C9.86667 16.6668 2.5 12.8252 2.5 8.1335C2.5 5.81683 4.275 3.3335 6.91667 3.3335C8.43333 3.3335 9.425 4.09183 10 4.7585C10.575 4.09183 11.5667 3.3335 13.0833 3.3335Z' fill='%230383FD' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.95);
    font-size: 14px;
    line-height: 17px;
    fill: $accent_color;
    color: $accent_color;
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    svg {
      width: 23px;
      height: 23px;
      margin-right: 5px;
    }
    span {
      text-decoration: underline;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__price-text {
      font-size: 12px;
      line-height: 15px;
    }
    &__buttons {
      .btn {
        padding: 12px 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__buttons {
      flex-wrap: wrap;
      .btn {
        margin-right: 0;
        width: 100%;
        margin-bottom: 12px;
      }
    }
    &__head {
      flex-wrap: wrap;
    }
    &__buy {
      margin-left: auto;
      margin-right: auto;
    }
    &__art {
      order: 1;
    }
    &__stars {
      margin-bottom: 10px;
    }
    &__stars-icon {
      
    }
  }
  @include media-breakpoint-down(md) {
    &__img {
      height: 130px;
    }
    &__content {
      padding: 9px 10px 15px;
    }
    &__head {
      margin-bottom: 12px;
    }
    &__art {
      font-size: 10px;
      line-height: 12px;
    }
    &__stars {
      
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
    }
    &__list {
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 10px;
      li {
        margin-bottom: 8px;
      }
    }
    &__num {
      font-weight: 500;
    }
    &__prices {
      padding-top: 15px;
      margin-bottom: 16px;
    }
    &__price-old {
      font-size: 12px;
      line-height: 15px;
    }
    &__price {
      font-size: 18px;
      line-height: 22px;
    }
    &__sticker {
      padding: 6px 10px;
      font-size: 10px;
      line-height: 12px;
    }
    &__operations {
      
    }
    &__operations-icon {
      width: 24px;
      height: 24px;
      margin-left: 2px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &__buttons {
      .btn {
        padding: 8px 10px;
      }
    }
  }
}
/* /product-card */