/* product-card */
.product-card { 
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid $border_color;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 174px;
    border-bottom: 1px solid $border_color;
    position: relative;
    img {
      max-height: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 20px 18px;
  }
  &__description {
    
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__art {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: $text_gray_color;
  }
  &__stars {
    
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $title_color;
    margin-bottom: 5px;
    @include media-breakpoint-up(md) {
      &:hover {
        color: $link_color;
      }
    }
  }
  &__list {
    font-size: 13px;
    line-height: 16px;
    color: $text_gray_color;
    padding-bottom: 27px;
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      span {

      }
    }
  }
  &__num {
    margin-left: 5px;
  }
  &__prices {
    margin-top: auto;
    padding-top: 18px;
    border-top: 1px solid $border_color;
    margin-bottom: 17px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
      > * {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  &__price-old {
    font-size: 13px;
    line-height: 16px;
    color: #B2BFCF;
  }
  &__price {
    font-size: 22px;
    line-height: 27px;
    color: $title_color;
  }
  &__price-text {
    font-size: 13px;
    line-height: 16px;
    color: $text_gray_color;
    white-space: nowrap;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {

    }
  }
  &__buy {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: $link_color;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    @include media-breakpoint-up(md) {
      &:hover {
        color: #42A1FC;
      }
    }
  }
  &__stickers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 2;
  }
  &__sticker {
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    &--yellow {
      background-color: $yellow_color;
      color: $text_color;
    }
    &--red {
      background-color: $red_color;
      color: #fff;
    }
  }
  &__operations {
    display: flex;
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 2;
  }
  &__operations-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    input {
      position: absolute;
      visibility: hidden;
    }
    span {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      user-select: none;
    }
    &--compare {
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5L17.5 17.5' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9442 17.5L11.9442 7.5L15 7.5C15.46 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9442 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05579 17.5L8.05579 3.33333C8.05579 2.87333 8.42912 2.5 8.88912 2.5L11.1116 2.5C11.5716 2.5 11.945 2.87333 11.945 3.33333L11.945 17.5L8.05579 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16663 17.5L4.16663 5.83333C4.16663 5.37333 4.53996 5 4.99996 5L8.05579 5L8.05579 17.5L4.16663 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9441 17.5L11.9441 7.5L14.9999 7.5C15.4599 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9441 17.5Z' fill='%230382FB' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05591 17.5L8.05591 3.33333C8.05591 2.87333 8.42924 2.5 8.88924 2.5L11.1117 2.5C11.5717 2.5 11.9451 2.87333 11.9451 3.33333L11.9451 17.5L8.05591 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16675 17.5L4.16675 5.83333C4.16675 5.37333 4.54008 5 5.00008 5L8.05591 5L8.05591 17.5L4.16675 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 17.4998L17.5 17.4998' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &--favorite {
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.33334C15.725 3.33334 17.5 5.81667 17.5 8.13334C17.5 12.825 10.1333 16.6667 10 16.6667C9.86667 16.6667 2.5 12.825 2.5 8.13334C2.5 5.81667 4.275 3.33334 6.91667 3.33334C8.43333 3.33334 9.425 4.09167 10 4.75834C10.575 4.09167 11.5667 3.33334 13.0833 3.33334Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.3335C15.725 3.3335 17.5 5.81683 17.5 8.1335C17.5 12.8252 10.1333 16.6668 10 16.6668C9.86667 16.6668 2.5 12.8252 2.5 8.1335C2.5 5.81683 4.275 3.3335 6.91667 3.3335C8.43333 3.3335 9.425 4.09183 10 4.7585C10.575 4.09183 11.5667 3.3335 13.0833 3.3335Z' fill='%230383FD' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
}
/* /product-card */