/* product-popup */
.product-popup { 
  display: flex;
  padding: 40px 20px 40px 40px;
  &__slider {
    width: 604px;
    flex-shrink: 0;
    overflow: hidden; 
    position: relative;
    .sliderProductPopup {
      margin-bottom: 20px;
      border: 1px solid $border_color;
      border-radius: 4px;
      overflow: hidden;
    }
    .thumbProductPopup {
      .swiper-slide {
        opacity: 0.4;
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
  &__img {
    height: 462px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__thumb {
    height: 116px;
    padding: 5px;
    border: 1px solid $border_color;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex-grow: 1;
    margin-left: 30px;
    min-width: 0;
  }
  .title {
    padding-bottom: 20px;
    border-bottom: 1px solid $border_color;
    margin-bottom: 18px;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    min-width: 0;
  }
  &__info {
    flex-grow: 1;
    margin-right: 30px;
    min-width: 0;
  }
  &__art {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: $text_gray_color;
    margin-bottom: 18px;
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
  }
  &__version {
    display: flex;
    margin-bottom: 16px;
    position: relative;
    .sliderVersion {
      overflow: hidden;
    }
    .swiper-slide {
      width: auto;
    }
  }
  &__version-item {
    display: block;
    padding: 10px 15px;
    background-color: #ECF5FE;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 17px;
    color: $text_color;
    cursor: pointer;
    user-select: none;
  }
  &__slider-arrow {
    width: 48px;
    height: 36px;
    margin-top: 0;
    flex-shrink: 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $border_color;
    box-shadow: none;
    position: static;
    &:before {
      display: none;
    }
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.04525 7.99996L1.97418 0.928894L0.954834 1.94824L7.03261 8.02602L0.974182 14.0844L1.9608 15.0711L8.01923 9.01263L8.0259 9.01931L9.04525 7.99996Z' fill='%233E444C'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--prev {
      margin-right: 8px;
      &:after {
        transform: rotate(180deg);
      }
    }
    &--next {
      margin-left: 8px;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        border-color: #6C7177;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.0452 7.99978L1.97414 0.928711L0.954788 1.94806L7.03256 8.02583L0.974136 14.0843L1.96075 15.0709L8.01918 9.01245L8.02586 9.01913L9.0452 7.99978Z' fill='%230383FD'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &__table {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    color: $text_gray_color;
    margin-bottom: 28px;
    td {
      padding: 6px 0;
      &:first-child {
        padding-right: 10px;
      }
    }
    b {
      color: $text_color;
    }
  }
  &__items {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
    position: relative;
  }
  &__items-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-top: -10px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid $border_color;
      flex-shrink: 0;
      margin-right: 10px;
      fill: $accent-color;
      transition: 0.1s;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    @include media-breakpoint-up(md) {
      &:hover {
        color: $link_color;
        span {
          background-color: $accent-color;
          fill: #fff;
        }
      }
    }
  }
  &__more {
    .btn {
      background-color: #E7F0F9;
      font-weight: 500;
      color: $link_color;
      @include media-breakpoint-up(md) {
        &:hover {
          background-color: #42A1FC;
          color: #fff;
        }
      }
    }
  }
  &__stickers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 2;
    pointer-events: none;
  }
  &__block {
    width: 338px;
    flex-shrink: 0;
    background-color: $background_color;
  }
  &__block-top {
    padding: 20px;
  }
  &__stars {
    display: flex;
    margin-bottom: 14px;
  }
  &__stars-icon {
    width: 16px;
    height: 15px;
    margin-left: 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12885 0.545576C7.51136 -0.133069 8.48864 -0.13307 8.87115 0.545575L10.6319 3.66947C10.7746 3.92265 11.0204 4.10122 11.3053 4.1587L14.8204 4.86794C15.584 5.02202 15.886 5.95147 15.3588 6.52497L12.9319 9.16489C12.7352 9.37884 12.6413 9.66777 12.6747 9.95648L13.0864 13.5187C13.1758 14.2926 12.3852 14.867 11.6768 14.5428L8.41616 13.0505C8.1519 12.9295 7.8481 12.9295 7.58384 13.0505L4.32318 14.5428C3.61482 14.867 2.82419 14.2926 2.91362 13.5187L3.32532 9.95648C3.35869 9.66777 3.26481 9.37884 3.06812 9.16489L0.641221 6.52497C0.113994 5.95147 0.415988 5.02202 1.17962 4.86794L4.69473 4.1587C4.97961 4.10122 5.22539 3.92265 5.36809 3.66947L7.12885 0.545576Z' fill='%23B2C7DC'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    &--fill {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12885 0.545576C7.51136 -0.133069 8.48864 -0.13307 8.87115 0.545575L10.6319 3.66947C10.7746 3.92265 11.0204 4.10122 11.3053 4.1587L14.8204 4.86794C15.584 5.02202 15.886 5.95147 15.3588 6.52497L12.9319 9.16489C12.7352 9.37884 12.6413 9.66777 12.6747 9.95648L13.0864 13.5187C13.1758 14.2926 12.3852 14.867 11.6768 14.5428L8.41616 13.0505C8.1519 12.9295 7.8481 12.9295 7.58384 13.0505L4.32318 14.5428C3.61482 14.867 2.82419 14.2926 2.91362 13.5187L3.32532 9.95648C3.35869 9.66777 3.26481 9.37884 3.06812 9.16489L0.641221 6.52497C0.113994 5.95147 0.415988 5.02202 1.17962 4.86794L4.69473 4.1587C4.97961 4.10122 5.22539 3.92265 5.36809 3.66947L7.12885 0.545576Z' fill='%230383FD'/%3E%3C/svg%3E%0A");
    }
  }
  &__prices {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__price {
    margin-right: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $title_color;
  }
  &__price-old {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #7E91A9;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #B2BFCF;
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-10deg);
    }
  }
  &__install {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__install-price {
    padding: 6px 10px;
    margin-right: 30px;
    background-color: #0383FD;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    white-space: nowrap;
  }
  &__install-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    fill: $accent-color;
    white-space: nowrap;
    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
  &__operations {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }
  &__operations-item {
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }
    input {
      position: absolute;
      visibility: hidden;
    }
    span {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    &--compare {
      margin-right: 24px;
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5L17.5 17.5' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9442 17.5L11.9442 7.5L15 7.5C15.46 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9442 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05579 17.5L8.05579 3.33333C8.05579 2.87333 8.42912 2.5 8.88912 2.5L11.1116 2.5C11.5716 2.5 11.945 2.87333 11.945 3.33333L11.945 17.5L8.05579 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16663 17.5L4.16663 5.83333C4.16663 5.37333 4.53996 5 4.99996 5L8.05579 5L8.05579 17.5L4.16663 17.5Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9441 17.5L11.9441 7.5L14.9999 7.5C15.4599 7.5 15.8333 7.87333 15.8333 8.33333L15.8333 17.5L11.9441 17.5Z' fill='%230382FB' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05591 17.5L8.05591 3.33333C8.05591 2.87333 8.42924 2.5 8.88924 2.5L11.1117 2.5C11.5717 2.5 11.9451 2.87333 11.9451 3.33333L11.9451 17.5L8.05591 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16675 17.5L4.16675 5.83333C4.16675 5.37333 4.54008 5 5.00008 5L8.05591 5L8.05591 17.5L4.16675 17.5Z' fill='%230382FC' stroke='white' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 17.4998L17.5 17.4998' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &--favorite {
      span {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.33334C15.725 3.33334 17.5 5.81667 17.5 8.13334C17.5 12.825 10.1333 16.6667 10 16.6667C9.86667 16.6667 2.5 12.825 2.5 8.13334C2.5 5.81667 4.275 3.33334 6.91667 3.33334C8.43333 3.33334 9.425 4.09167 10 4.75834C10.575 4.09167 11.5667 3.33334 13.0833 3.33334Z' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        &:checked {
          ~ span {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0833 3.3335C15.725 3.3335 17.5 5.81683 17.5 8.1335C17.5 12.8252 10.1333 16.6668 10 16.6668C9.86667 16.6668 2.5 12.8252 2.5 8.1335C2.5 5.81683 4.275 3.3335 6.91667 3.3335C8.43333 3.3335 9.425 4.09183 10 4.7585C10.575 4.09183 11.5667 3.3335 13.0833 3.3335Z' fill='%230383FD' stroke='%230383FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    @include media-breakpoint-up(md) {
      &:hover {
        color: $accent-color;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    .btn {
      margin-right: 5px;
    }
  }
  &__link {
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    color: $link_color;
  }
  &__delivery {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 112.52%;
    color: $text_gray_color;
    fill: $accent-color;
    svg {
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }
  &__block-bottom {
    padding: 20px 20px 30px;
    border-top: 1px solid $border_color;
    font-size: 14px;
    line-height: 17px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      color: $text_gray_color;
      fill: $accent-color;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
        color: $text_gray_color;
        fill: $accent-color;
        @include media-breakpoint-up(md) {
          &:hover {
            color: $accent-color;
          }
        }
      }
      b {
        margin-left: 5px;
        font-weight: 500;
        color: $text_color;
      }
      svg {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }
  &__drop {
    display: none;
    width: 355px;
    padding: 30px;
    background-color: #fff;
    box-shadow: (0px 10px 25px rgba(0, 0, 0, 0.2));
    border-radius: 15px;
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 5;
    &.open {
      display: block;
    }
  }
  &__drop-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $title_color;
    margin-bottom: 13px;
  }
  &__drop-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__drop-link {
    display: flex;
    align-items: center;
    color: $link_color;
    margin-bottom: 18px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      margin-left: 13px;
      fill: $text_gray_color;
      svg {
        width: 24px;
        height: 24px;
      }
      @include media-breakpoint-up(md) {
        &:hover {
          fill: $accent-color;
        }
      }
    }
  }
  &__drop-social {
    margin-top: 15px;
  }
  &__drop-social-row {
    display: flex;
    margin-left: -20px;
    margin-top: -10px;
  }
  &__drop-social-item {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-top: 10px;
    img {
      max-height: 100%;
    }
  }
  &__drop-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    user-select: none;
    &:after,&:before {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      background-color: #999;
      position: absolute;
      top: 50%;
       left: 50%;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    @include media-breakpoint-up(md) {
      &:hover {
        &:after,&:before {
          background-color: $accent-color;
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    display: block;
    &__slider {
      margin-bottom: 20px;
    }
    &__content {
      margin-left: 0;
    }
    .title {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 13px;
    }
    &__art {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 20px;
    &__slider {
      width: 100%;
    }
    &__block {
      width: 300px;
    }
    &__buttons {
      .btn {
        padding: 15px 10px;
      }
    }
    &__drop {
      top: -70px;
      right: -100px;
    }
  }
  @include media-breakpoint-down(md) {
    &__row {
      display: block;
    }
    &__info {
      margin-right: 0;
    }
    &__block {
      width: 100%;
      margin-bottom: 30px;
    }
    &__more {
      .btn {
        width: 100%;
      }
    }
    &__img {
      height: 265px;
    }
    &__thumb {
      height: 67px;
    }
    &__slider-arrow {
      display: none;
    }
    &__art-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
    }
    &__art {
      margin-bottom: 0;
    }
    &__items {
      margin-bottom: 0;
    }
    &__items-row {
      margin-left: -13px;
    }
    &__item {
      margin-left: 13px;
      span {
        margin-right: 0;
      }
    }
    &__item-text {
      display: none;
    }
    &__drop {
      width: 290px;
      padding: 25px 15px;
      top: -20px;
      right: 0;
    }
  }
}
/* /product-popup */