/* sertificates */
.sertificates { 
  margin-bottom: 50px;
  .title {
    margin-bottom: 25px;
  }
  &__slider {
    position: relative;
    #sliderSertificates {
      overflow: hidden;
    }
    .swiper-slide {
      height: auto;
    }
  }
  &__item {
    height: 100%;
    max-height: 283px;
    padding: 20px 20px 15px;
    border: 1px solid $border_color;
    border-radius: 4px;
    img {
      max-height: 100%;
    }
  }
  &__slider-arrow {
    &--prev {
      left: -20px;
    }
    &--next {
      right: -20px;
    }
  }
  &__pagination {
    display: none;
  }
}
/* /sertificates */