/* slider-category-cards2 */
.slider-category-cards2 { 
  margin-bottom: 40px;
  .title {
    margin-bottom: 35px;
  }
  &__slider {
    position: relative;
    .sliderCategoryCards2 {
      overflow: hidden;
      .swiper-slide {
        height: auto;
      }
    }
  }
  &__slider-arrow {
    &--prev {
      left: -20px;
    }
    &--next {
      right: -20px;
    }
  }
  &__pagination {
    display: none;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    .title {
      margin-bottom: 18px;
    }
    &__pagination {
      display: block;
      bottom: -30px !important;
    }
    &__slider-arrow {
      display: none;
    }
  }
}
/* /slider-category-cards2 */